1.1---mia---journal---rss-VG45v5zYosw0aVPj.json
{"createdAt":"2025-08-26T20:55:13.013Z","updatedAt":"2025-09-24T10:08:10.126Z","id":"VG45v5zYosw0aVPj","name":"1.1 - Mia - Journal - RSS","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-9136,992],"id":"4354d1a6-39a4-413d-bea6-9e8322d5b5a2","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-8880,992],"id":"a58ab15e-79b5-40de-9d18-d20dc6ef7661","name":"No Operation, do nothing","alwaysOutputData":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3328,1040],"id":"2e081b2e-69db-4b95-b33e-4164fce0cc6a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"o1ywdYlH64cgqSMT","name":"OpenRouter account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const binaryData = $input.item.binary?.[\"imagem_final\"];\n\nif (!binaryData || !binaryData.data) {\n  throw new Error(\"Campo 'imagem_final' não encontrado no binário.\");\n}\n\nconst base64 = Buffer.from(binaryData.data, 'base64').toString(\"base64\");\n\nreturn {\n  json: {\n    base64Image: base64\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,720],"id":"58201186-aa63-4689-8660-02dec33123b1","name":"Binary > base64"},{"parameters":{"operation":"createFromText","content":"={{ $json.base64Image }}","name":"={{$json[\"arquivo_base64\"]}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1-TqSloGeJhKGhoDNe9bI6jhDmRcH0KAM","mode":"list","cachedResultName":"base64","cachedResultUrl":"https://drive.google.com/drive/folders/1-TqSloGeJhKGhoDNe9bI6jhDmRcH0KAM"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-272,816],"id":"94dd8c03-5fe9-42f1-bc57-0e74bb13da6b","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"ZkmaJh5Y8Zdz8ju7","name":"Google Drive - lucas@getmia.com.br"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista em conteúdo de Inteligência Artificial para o público brasileiro.  \nSua missão é simples: ajudar milhares de pessoas a entender e debater IA, se posicionar como antenados, críticos e preparados para as mudanças que essa tecnologia traz.\n\nVocê vai receber uma lista de notícias (que pode conter itens repetidos de diferentes fontes).\n\n✅ Para cada notícia, siga os passos abaixo:\n\n1. Análise e Relevância  \nAnalise o conteúdo completo da notícia.  \n\nAtribua uma nota de relevância de 0 a 10, indicando quanto essa notícia e relevante para o mundo de Inteligencia Artificial.   \n\n✍️ Título e Legenda (polêmicos e provocativos)  \nPara cada notícia única:\n\n- Crie um **título original e direto**, com até 15 palavras, sempre com tom polêmico ou provocativo, chamando atenção para debate.  \n\n- Escreva uma legenda com até 1500 caracteres, dividida em 4 blocos separados por `\\n\\n`.  \nA legenda deve ser clara, simples e didática, como se estivesse explicando para alguém de 18 anos, mas com tom provocador para gerar discussão.  \n\nEstrutura da legenda (não escreva os títulos dos blocos no texto final, só use como guia):  \n1. Resuma o que aconteceu, com dados e detalhes concretos da notícia, entregue todas as informacoes da noticia, considere que o leitor nao ira atras da noticia completa, todas as informacoes precisam estar nesse bloco de forma pratica.  \n2. Explique o que é o tema em linguagem simples (ex: o que é deepfake? o que é IA generativa?).  \n3. Mostre como isso pode afetar o trabalho, a economia ou a sociedade no Brasil.  \n4. Termine com uma pergunta polêmica ou provocativa para estimular debate (ex: “Estamos preparados para perder milhões de empregos para IA?”, “Você confiaria sua saúde a uma máquina?”).  \n\n📦 Formato de resposta  \nRetorne somente o array JSON abaixo, direto (sem explicações antes ou depois):\n\n[\n  {\n    \"titulo\": \"Título curto, provocativo e original aqui\",\n    \"legenda\": \"legenda criada\",\n    \"imagem\": \"{{ $json.imagem }}\",\n    \"fonte\": \"{{ $json.link }}\",\n    \"nota\": 0-10\n  }\n]\n\n🔁 Variáveis de entrada disponíveis:\n{{ $json.link }}  \n{{ $json.title }}  \n{{ $json.content }}  \n{{ $json.contentSnippet }}  \n{{ $json.imagem }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-3328,848],"id":"8a4dd46c-1294-4611-93ac-2303eda605ed","name":"AI Agent - Estrutura dos Posts","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const allNoticias = items.flatMap(item => JSON.parse(item.json.output));\n\nreturn allNoticias.map((noticia, index) => {\n  return {\n    json: {\n      ...noticia\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2960,848],"id":"9a7314c1-4bd6-4db2-86c3-93b0156a685b","name":"Estruturação do JSON de saída","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"6cb1827b-7e9b-4c1d-9553-704a28bc6cff","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n\n    html, body {\n      width: 1080px;\n      height: 1350px;\n      overflow: hidden;\n      background: black;\n      font-family: Arial, sans-serif;\n    }\n\n    .container {\n      position: relative;\n      width: 1080px;\n      height: 1350px;\n      background-image: url(\"{{$json['imagem']}}\");\n      background-size: cover;\n      background-position: center center;\n      background-repeat: no-repeat;\n    }\n\n    .overlay-gradient {\n      position: absolute;\n      bottom: 0;\n      left: 0;\n      width: 100%;\n      height: 40%;\n      background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);\n      z-index: 1;\n    }\n\n    /* Marca no topo direito */\n    .mia-logo {\n      position: absolute;\n      top: 120px;\n      right: 50px;\n      text-align: right;\n      z-index: 2;\n      font-size: 50px; /* reduzido ~30% */\n      font-weight: 800;\n      color: white;\n      letter-spacing: 1px;\n      line-height: 1.1;\n    }\n\n    /* Bloco inferior */\n    .text-block {\n      position: absolute;\n      bottom: 200px;\n      left: 50px;\n      right: 50px;\n      max-width: calc(100% - 100px);\n      z-index: 2;\n      color: white;\n    }\n\n    .text-block h4 {\n      display: inline-block;\n      margin: 0 0 20px 0;\n      font-size: 28px;\n      font-weight: bold;\n      color: black;\n      background-color: #f9b233; /* faixa amarela */\n      padding: 6px 16px;\n      border-radius: 6px;\n    }\n\n    .text-block h2 {\n      margin: 0;\n      font-size: 56px;\n      font-weight: bold;\n      line-height: 1.2;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"overlay-gradient\"></div>\n\n    <!-- Logo no topo direito -->\n    <div class=\"mia-logo\">\n      M[IA]<br>&gt;_\n    </div>\n\n    <!-- Texto inferior -->\n    <div class=\"text-block\">\n      <h4>INTELIGÊNCIA ARTIFICIAL</h4>\n      <h2>{{$json[\"titulo\"]}}</h2>\n    </div>\n  </div>\n</body>\n</html>\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,832],"id":"80e4506f-983b-4b73-8937-ea9fd32d5c6c","name":"Criação do HTML da Imagem"},{"parameters":{"content":"# Estruturação dos Posts\n\n### Lógica para definir estrutura dos posts. Escolhe o que é mais relevante e reescreve título, legenda e prepara JSON para etapas seguintes.","height":576,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[-3648,624],"typeVersion":1,"id":"3e4509af-64a4-499c-ac34-16eac73da907","name":"Sticky Note10"},{"parameters":{"content":"# Edição das Imagens\n\n### Todas as transformações necessárias para ter a imagem final. \n### Publicação da imagem no Github, geração do link público da imagem e transformação para base64 (para envio no whatsapp).","height":1264,"width":1856},"type":"n8n-nodes-base.stickyNote","position":[-2576,256],"typeVersion":1,"id":"26d56cfa-db11-46a1-9030-927fba7932be","name":"Sticky Note11"},{"parameters":{"method":"POST","url":"https://hcti.io/v1/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Basic MDRlZDA4NWYtYmY0OS00MzIyLWExMzEtMzY3ZjA1YmRiOTllOmQ0MzhjODk3LTVlYzctNGMyNS1iMjM0LWY5NGYyNjc1OGRhYQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"html","value":"={{ $json.html }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2272,608],"id":"f225b6dc-2c83-4513-8c2b-b23b9e789826","name":"HTML > Imagem","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"imagem_final"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2064,608],"id":"62bff597-c4d5-4002-b205-4cead28b12e2","name":"Baixar imagem"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"getmia","mode":"list","cachedResultName":"getmia","cachedResultUrl":"https://github.com/getmia"},"repository":{"__rl":true,"value":"miabuilder-images","mode":"list","cachedResultName":"miabuilder-images","cachedResultUrl":"https://github.com/getmia/miabuilder-images"},"filePath":"=images/{{$now.toFormat(\"yyyyMMddHHmmssSSS\")}}.jpg","binaryData":true,"binaryPropertyName":"imagem_final","commitMessage":"Adicionando imagem via n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1552,480],"id":"1b3ba5f7-3f63-406d-96b6-c78466e70c00","name":"Salvar imagem no GitHub","webhookId":"38782bcb-74c4-4d1d-816a-3444f3b1d42e","credentials":{"githubApi":{"id":"Gd4bGzglU6thixeI","name":"GitHub account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-864,784],"id":"f42871d1-6f17-4bab-9b86-ff5d3efccfa4","name":"Dados + Imagem Final","onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"instagram_journal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,1008],"id":"9759e1bd-60f0-4de8-930c-8da67f5a9db2","name":"Salvar no Sheets Controle","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const { noticia_id, titulo, legenda, fonte, imagem, arquivo_base64, imagem_url, imagem_url2, status, nota } = item.json;\n  const id = item.json.id;\n\n  const data = new Date();\n  const data_processamento = data.toLocaleDateString('pt-BR'); // formato: dd/mm/aaaa\n\n  return {\n    json: {\n      noticia_id,\n      data_processamento,\n      titulo,\n      legenda: legenda.replace(/\\\\n/g, '\\n\\n'), // <- agora gera 1 linha em branco entre blocos\n      fonte,\n      imagem,\n      arquivo_base64,\n      imagem_url,\n      imagem_url2,     // <-- agora vai junto\n      status,\n      nota\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,1008],"id":"8607e25c-2cfb-44f4-8403-7db05854b59c","name":"Filtro dos dados consolidados"},{"parameters":{"jsCode":"const dataAgora = new Date();\nconst yyyy = dataAgora.getFullYear();\nconst mm = String(dataAgora.getMonth() + 1).padStart(2, '0');\nconst dd = String(dataAgora.getDate()).padStart(2, '0');\nconst hh = String(dataAgora.getHours()).padStart(2, '0');\nconst min = String(dataAgora.getMinutes()).padStart(2, '0');\nconst ss = String(dataAgora.getSeconds()).padStart(2, '0');\n\nconst base = `noticia_${yyyy}${mm}${dd}_${hh}${min}${ss}`;\n\n// coleta TODAS as download_url (inclui download_url2) de TODOS os itens\nfunction collectDownloadUrls(obj, acc = []) {\n  if (!obj || typeof obj !== 'object') return acc;\n  for (const [k, v] of Object.entries(obj)) {\n    if ((k === 'download_url' || k === 'download_url2') && typeof v === 'string') acc.push(v);\n    else if (v && typeof v === 'object') collectDownloadUrls(v, acc);\n  }\n  return acc;\n}\n\n// URLs únicas vindas de todos os itens (ramo img1 + ramo img2)\nconst urlsAll = Array.from(new Set(items.flatMap(i => collectDownloadUrls(i.json))));\n\n// primeira e segunda URL do lote\nconst url1 = urlsAll[0] ?? null;\nconst url2 = urlsAll.find(u => u !== url1) ?? null;\n\nreturn items.map((item, index) => {\n  const sequencial = String(index + 1).padStart(3, '0');\n  const noticia_id = `${base}_${sequencial}`;\n\n  // se já vier setado no item, respeita; senão usa as do lote\n  const imagem_url  = item.json.imagem_url  ?? item.json.download_url  ?? url1;\n  const imagem_url2 = item.json.imagem_url2 ?? item.json.download_url2 ?? url2;\n\n  return {\n    json: {\n      ...item.json,\n      noticia_id,\n      status: item.json.status ?? 'aguardando',\n      arquivo_base64: `${noticia_id}.txt`,\n      imagem_url,\n      imagem_url2,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,816],"id":"c93c6f44-3b34-4a37-9e33-fe190a75b5f8","name":"Criação Id + Link Github"},{"parameters":{"content":"# Atualização Controles e Envio do resultado por Whatsapp\n\n### Atualiza sheets e drive com informações e arquivos importantes\n### Envio do post completo por whatsapp para aprovador","height":704,"width":848},"type":"n8n-nodes-base.stickyNote","position":[-688,544],"typeVersion":1,"id":"fb12ab5b-57ac-43af-89aa-b2f15f24cb23","name":"Sticky Note12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c9a2cce-1e4b-4f37-9c24-91e5375e8efe","leftValue":"={{ $json.nota }}","rightValue":7,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2752,848],"id":"b8ec5669-e234-4cc2-aaae-504098e5bba8","name":"Filtro Relevância"},{"parameters":{"operation":"crop","dataPropertyName":"imagem_final","width":1080,"height":1350,"options":{"format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-1840,608],"id":"40ea4694-c205-4786-b9ae-a139937931fe","name":"Cortar imagem 1080x1350"},{"parameters":{"content":"# Portais de notícias\n\n### Portais de notícias que o fluxo irá consultar para gerar os posts","height":2576,"width":1568},"type":"n8n-nodes-base.stickyNote","position":[-8592,-272],"typeVersion":1,"id":"cf657867-6911-4ea3-b56b-3f95fb228bde","name":"Sticky Note"},{"parameters":{"url":"https://exame.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,464],"id":"24a6265d-5682-48a2-8ab1-7a78b6bc7c7e","name":"RSS Exame","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.infomoney.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,640],"id":"701c4191-af27-4586-8af8-260c5ca885a4","name":"RSS infomoney","onError":"continueRegularOutput"},{"parameters":{"url":"https://openai.com/blog/rss.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,-48],"id":"3545f1ba-bf3a-4bf7-9284-9864f1864f99","name":"RSS Open AI Blog","onError":"continueRegularOutput"},{"parameters":{"url":"https://venturebeat.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,144],"id":"e6e466d9-a664-4f5b-aeeb-8ee851b93fb7","name":"RSS Venture Beat","onError":"continueRegularOutput"},{"parameters":{"url":"https://news.mit.edu/rss/feed","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,304],"id":"6aeff433-f3de-47b2-b1be-e226fe042ef1","name":"RSS MIT","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://canaltech.com.br/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,832],"id":"1c4e8bc6-bf98-4c18-b809-ed45ae8a4d5d","name":"RSS Canal Tech","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.tecmundo.com.br/tags/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,1008],"id":"6152ede4-39b2-4c32-a402-0fc1e34e92db","name":"RSS Tecmundo","onError":"continueRegularOutput"},{"parameters":{"url":"https://olhardigital.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,1184],"id":"5b0fb00a-9eed-4107-bb96-4e96311c3c50","name":"RSS Olhar Digital","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.theverge.com/rss/index.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,1360],"id":"531103f0-bca7-4f52-b7d6-e381e5182636","name":"RSS Canal The Verge","onError":"continueRegularOutput"},{"parameters":{"url":"https://techcrunch.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,1520],"id":"8a361589-337b-41a0-8e54-4d4e446824d4","name":"RSS Tech Crunch","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.wired.com/feed/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,1680],"id":"e12a8570-d847-4049-a628-ad476df9abc0","name":"RSS Wired","onError":"continueRegularOutput"},{"parameters":{"url":"https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,1840],"id":"e0b5b9e7-a883-4c86-ae99-4d124372a2e3","name":"RSS NY Times","onError":"continueRegularOutput"},{"parameters":{"url":"\thttp://feeds.bbci.co.uk/news/technology/rss.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,2000],"id":"e0818c69-8700-4b9e-b337-0f5c74f94f6f","name":"RSS BBC","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.cnbc.com/id/19854910/device/rss/rss.html","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8272,2160],"id":"4e190783-aa2a-42e4-a72d-574402e33139","name":"RSS CNBC","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e201d72c-d4e6-4a9e-a07e-782cf5a39960","leftValue":"={{ new Date($json[\"pubDate\"]) }}","rightValue":"={{ new Date(Date.now() - 1/2 * 60 * 60 * 1000) }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6880,1040],"id":"9f3b0879-afb7-44f1-a878-c2712183638d","name":"Filtro de data da notícia","onError":"continueRegularOutput"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7680,336],"id":"94994d06-5b9d-4ffd-8bc7-adc658e01459","name":"Merge"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7696,1568],"id":"be0b7e7e-49e1-4cca-b990-f225062258c4","name":"Merge1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7264,1040],"id":"4a5cb576-d8c2-4378-a3ad-f02b3c387144","name":"Merge2"},{"parameters":{"jsCode":"// === Parâmetros ===\nconst THRESHOLD = 80;           // mínimo para aprovar (era 80)\nconst MAX_ITENS = 50;           // máximo a retornar\nconst DECAY_HALF_LIFE_H = 96;   // meia-vida da recência (horas) (era 48)\nconst DEDUPE_SIMILARITY = 0.85; // similaridade p/ dedupe (0..1)\nconst KEEP_SCORE_IN_OUTPUT = false; // true só p/ debug\n\n// === Dicionários de relevância (AI global) ===\nconst KW = {\n  forte: [\n    // Termos gerais\n    'inteligência artificial','ia','ai','artificial intelligence',\n    'machine learning','aprendizado de máquina','deep learning',\n    'neural network','neural networks','redes neurais',\n    'transformer','attention mechanism','self-attention',\n\n    // Modelos e ferramentas\n    'gpt','chatgpt','chat gpt','chat-gpt',\n    'claude','gemini','bard','copilot','mistral','llama','llama2','llama3',\n    'stable diffusion','midjourney','dall-e','dalle','dall e',\n    'autogen','auto-gpt','agentic ai','ai agent','agente autônomo',\n    'sora','runway','perplexity','cohere','phi-3','command r','qwen','groq','cerebras','quivr',\n\n    // Empresas e fundadores\n    'openai','open ai','anthropic','google deepmind','deepmind',\n    'microsoft copilot','ibm watson','huggingface','meta ai',\n    'amazon bedrock','aws bedrock','x.ai','x ai',\n    'sam altman','elon musk','sundar pichai','satya nadella','mark zuckerberg',\n    'jensen huang','nvidia','intel ai','apple intelligence',\n\n    // Infraestrutura\n    'vector db','vector database','pinecone','weaviate','milvus','supabase',\n    'embedding','embeddings','embedding model',\n    'retrieval augmented generation','rag','retrieval-augmented generation',\n\n    // Aplicações\n    'chatbot','assistente virtual','assistente digital',\n    'virtual assistant','digital assistant','copilot','autonomous agent',\n    'automation','automação','automatização','workflow automation',\n\n    // Áreas técnicas\n    'nlp','natural language processing','processamento de linguagem natural',\n    'computer vision','visão computacional','ocr',\n    'generative ai','generative model','aigc','ai generated content','gen ai',\n\n    // Tendências\n    'fine tuning','finetuning','few shot learning','zero shot learning',\n    'prompt engineering','prompt design','instruction tuning',\n    'alignment','ai safety','governança de ia','regulação da ia','ai act',\n    'digital twin','synthetic data','self supervised learning'\n  ],\n  medio: [\n    'data science','ciência de dados','analytics','business intelligence',\n    'cloud','nuvem','cloud computing','api de ia','ai api','plataforma de ia','ai platform',\n    'no code','low code','python','tensorflow','pytorch','keras','scikit','langchain','langgraph',\n    'automação de marketing','automação de vendas','automação de processos',\n    'startups','vc','venture capital','funding','investment in ai'\n  ],\n  fracos: [\n    'futebol','soccer','bbb','celebridade','celebrity','cantor','singer',\n    'show','concert','novela','soap opera',\n    'meme','tiktok','fofoca','gossip','game','jogo','filme','movie','série','series','streaming',\n    'gadget','celular','smartphone','iphone'\n  ],\n  contextoEco: [\n    'tecnologia','technology','inovação','innovation','startups','startup',\n    'investimento em ia','ai investment','funding','venture capital','vc','private equity',\n    'mercado de capitais','capital markets','economia digital','digital economy',\n    'future of work','trabalho do futuro',\n    'regulação da ia','ai regulation','governança de ia','ai governance','lei de ia','ai act'\n  ]\n};\n\n// === Funções auxiliares ===\nconst norm = (s='') =>\n  String(s).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/https?:\\/\\/\\S+/g,' ')\n    .replace(/[^\\p{L}\\p{N}\\s]/gu,' ')\n    .replace(/\\s+/g,' ')\n    .trim();\n\nconst tokens = s => new Set(norm(s).split(' ').filter(t => t.length > 2));\n\nconst tokenSimilarity = (a,b) => {\n  const A = tokens(a), B = tokens(b);\n  const inter = [...A].filter(t => B.has(t)).length;\n  return inter / (Math.max(A.size, B.size) || 1);\n};\n\nconst hasAny = (text, list) => {\n  const t = norm(text);\n  return list.some(k => t.includes(norm(k)));\n};\n\nconst hoursSince = (d) => {\n  if (!d) return 1e9;\n  const ts = new Date(d).getTime();\n  return isNaN(ts) ? 1e9 : (Date.now() - ts) / 36e5;\n};\n\nconst recencyMultiplier = (h) => {\n  const lambda = Math.log(2) / DECAY_HALF_LIFE_H;\n  return Math.exp(-lambda * h);\n};\n\nconst scoreItem = (j) => {\n  const title = j.title || '';\n  const body = j['content:encoded'] || j.content || '';\n  const snippet = j.contentSnippet || '';\n  const cats = Array.isArray(j.categories)\n    ? j.categories.map(c => typeof c === 'string' ? c : JSON.stringify(c)).join(' ')\n    : (typeof j.categories === 'string' ? j.categories : '');\n  const text = `${title} ${snippet} ${body} ${cats}`;\n\n  let score = 0;\n  const forte = hasAny(text, KW.forte);\n  const contexto = hasAny(text, KW.contextoEco);\n\n  if (forte) score += 40;\n  if (hasAny(text, KW.medio)) score += 20;\n  if (hasAny(text, KW.fracos)) score -= 20; // antes era -50\n\n  if (forte && contexto) score += 30;\n\n  const hasNumber = /\\b\\d+([.,]\\d+)?\\b/.test(text);\n  const hasPercent = /%\\b/.test(text);\n  if (contexto && hasPercent) score += 15;\n  else if (contexto && hasNumber) score += 5;\n\n  // mínimo garantido se tiver termo forte\n  if (forte) score = Math.max(score, 60);\n\n  score *= recencyMultiplier(hoursSince(j.isoDate || j.pubDate));\n  return Math.max(0, Math.min(100, Math.round(score)));\n};\n\n// === Pipeline ===\nconst seenTitles = [];\nconst scoredItems = [];\n\nfor (const item of items) {\n  const j = { ...item.json };\n  const s = scoreItem(j);\n\n  let dup = false;\n  for (const prevTitle of seenTitles) {\n    if (tokenSimilarity(prevTitle, j.title || '') >= DEDUPE_SIMILARITY) {\n      dup = true; break;\n    }\n  }\n  if (dup) continue;\n\n  if (s >= THRESHOLD) {\n    seenTitles.push(j.title || '');\n    if (KEEP_SCORE_IN_OUTPUT) j._score = s;\n    scoredItems.push({ json: j, _score: s });\n  }\n}\n\nscoredItems.sort((a,b) => b._score - a._score);\nreturn scoredItems.slice(0, MAX_ITENS).map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6592,1024],"id":"dcc28e51-131c-48f9-ba23-594fd7f77a51","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"68aef7bc-9f60-4636-bc5f-06de8889a312","name":"download_url","value":"={{ $json.content.download_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,480],"id":"d39c6967-8b37-4003-9152-cb9dd7d998b2","name":"Create download_url"},{"parameters":{"assignments":{"assignments":[{"id":"6cb1827b-7e9b-4c1d-9553-704a28bc6cff","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>CTA Mia</title>\n  <style>\n    * { margin:0; padding:0; box-sizing:border-box; }\n    html, body {\n      width:1080px; height:1350px; overflow:hidden;\n      background:#f9b233; /* amarelo da Mia */\n      font-family: Arial, Helvetica, sans-serif;\n    }\n    .wrap{position:relative; width:1080px; height:1350px; background:#f9b233;}\n\n    /* canto superior direito */\n    .header{\n      position:absolute; top:60px; right:60px;\n      text-align:right; font-weight:900; line-height:1.1;\n      color:#000; font-size:64px;\n    }\n\n    .center{\n      position:absolute; inset:0; display:flex; flex-direction:column; align-items:center; justify-content:center; gap:40px; padding:80px;\n      text-align:center; color:#000;\n    }\n    .logo{\n      width:840px; /* 40% maior do que antes */\n      height:auto; filter: drop-shadow(0 10px 24px rgba(0,0,0,.3));\n    }\n    .title{\n      font-size:52px; line-height:1.2; font-weight:800; color:#000;\n      letter-spacing:.3px; max-width:900px;\n    }\n    .subtitle{\n      margin-top:6px; font-size:34px; line-height:1.5; color:#111;\n      max-width:850px;\n    }\n    .highlight{\n      background:#000; color:#f9b233; padding:2px 8px; border-radius:4px;\n    }\n\n    .footer{\n      position:absolute; left:0; right:0; bottom:0; height:140px; display:flex; align-items:center; justify-content:center; gap:56px;\n      border-top:1px solid rgba(0,0,0,.1); background:linear-gradient(180deg, rgba(249,178,51,0) 0%, rgba(249,178,51,.8) 50%, rgba(249,178,51,1) 100%);\n    }\n    .action{\n      display:flex; align-items:center; gap:14px; color:#000; font-size:28px; font-weight:700;\n      text-transform:uppercase; letter-spacing:.8px;\n    }\n    .icon{ width:44px; height:44px; display:inline-block; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"header\">M[IA]</div>\n\n    <div class=\"center\">\n      <img class=\"logo\" src=\"https://i.ibb.co/cXVx8vSp/logo-vetorial.png\" alt=\"Logo Mia\" />\n      <div class=\"title\">\n        Fique por dentro de tudo o que acontece no mundo de <span class=\"highlight\">Inteligência Artificial</span>.\n      </div>\n      <div class=\"subtitle\">\n        Quer implementar IA na sua empresa? Junte-se à nossa <span class=\"highlight\">comunidade</span> — <b>link na bio</b>.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      <div class=\"action\">\n        <svg class=\"icon\" viewBox=\"0 0 24 24\" fill=\"none\">\n          <path d=\"M7 22H5a3 3 0 0 1-3-3v-7a3 3 0 0 1 3-3h2v13Z\" stroke=\"black\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n          <path d=\"M7 9l5-6a2 2 0 0 1 3 2l-1 5h5a2 2 0 0 1 2 2l-2 8a2 2 0 0 1-2 2H7\" stroke=\"black\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n        </svg>\n        <span class=\"label\">Curtir</span>\n      </div>\n      <div class=\"action\">\n        <svg class=\"icon\" viewBox=\"0 0 24 24\" fill=\"none\">\n          <path d=\"M21 15a4 4 0 0 1-4 4H8l-5 4V5a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v10Z\" stroke=\"black\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n        </svg>\n        <span class=\"label\">Comentar</span>\n      </div>\n      <div class=\"action\">\n        <svg class=\"icon\" viewBox=\"0 0 24 24\" fill=\"none\">\n          <path d=\"M4 12l7-7v4c6 0 9 3 9 9-2-3-5-4-9-4v4l-7-6Z\" stroke=\"black\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n        </svg>\n        <span class=\"label\">Compartilhar</span>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,1296],"id":"663d03bc-6b12-4c9b-acf2-c34091d97243","name":"Criação do HTML da Imagem1"},{"parameters":{"method":"POST","url":"https://hcti.io/v1/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Basic MDRlZDA4NWYtYmY0OS00MzIyLWExMzEtMzY3ZjA1YmRiOTllOmQ0MzhjODk3LTVlYzctNGMyNS1iMjM0LWY5NGYyNjc1OGRhYQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"html","value":"={{ $json.html }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2272,1072],"id":"db93c8a2-9426-489f-856e-8bbca6aa84c7","name":"HTML > Imagem1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"imagem_final"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2064,1072],"id":"62300345-36cf-4d97-bc80-4b853cf491fc","name":"Baixar imagem1"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"getmia","mode":"list","cachedResultName":"getmia","cachedResultUrl":"https://github.com/getmia"},"repository":{"__rl":true,"value":"miabuilder-images","mode":"list","cachedResultName":"miabuilder-images","cachedResultUrl":"https://github.com/getmia/miabuilder-images"},"filePath":"=images/{{$now.toFormat(\"yyyyMMddHHmmssSSS\")}}2.jpg","binaryData":true,"binaryPropertyName":"imagem_final","commitMessage":"Adicionando imagem via n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1552,1072],"id":"f90f432e-bc27-4f6d-a930-3bf7cdb1fd68","name":"Salvar imagem no GitHub1","webhookId":"ab951ac8-0032-411c-807b-79f3ee6d5cdd","credentials":{"githubApi":{"id":"Gd4bGzglU6thixeI","name":"GitHub account"}}},{"parameters":{"operation":"crop","dataPropertyName":"imagem_final","width":1080,"height":1350,"options":{"format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-1840,1072],"id":"009def3f-e63e-4d90-9579-1173de4c93da","name":"Cortar imagem 1080x1351"},{"parameters":{"assignments":{"assignments":[{"id":"44644f81-81ee-4f9f-a299-8c3b33541f3d","name":"download_url2","value":"={{ $json.content.download_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,1072],"id":"c486c7a7-58d7-4afc-9ce5-95388ee52d66","name":"Create download_url2"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3584,816],"id":"a8130220-c971-4da8-b62f-4500cac50f14","name":"Unificar imagem final1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Coloque os possíveis campos que podem trazer a imagem direto do RSS\nconst possiveisCampos = [\n  $json['media:content']?.url,\n  $json['enclosure']?.url,\n  $json['image'],\n  $json['og:image']\n];\nconst imagemDireta = possiveisCampos.find(x => !!x);\n\nreturn {\n  ...$json,\n  imagem: imagemDireta || '' // Se não tiver, deixa vazio\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6256,1024],"id":"ae1feaad-e853-4fa7-a15f-5355b68c4017","name":"Padronização do campo imagem","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5d79643-ef81-4cef-b02d-371990a64543","leftValue":"={{ $json.imagem }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6048,1024],"id":"72a2dd11-02a3-4752-8d64-6314bd2ee5b0","name":"Validação do campo imagem"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  ...$json,\n  original: $json // salva todos os dados da notícia\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5824,704],"id":"42b1b901-e376-4a00-9f25-89b71549e966","name":"Backup dados da notícia"},{"parameters":{"url":"={{ $json.link }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5616,704],"id":"dbb14cd3-a13a-4e24-a78a-93d815ac1217","name":"Buscar HTML da notícia","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const html = $json.data || $json.body || '';\n\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : \"\";\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1]; // aqui mantém a URL achada\n  }\n}\n\n// Recupera os campos originais da notícia de 'Backup dados da notícia1'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}),\n  imagem\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5408,704],"id":"2988a84b-5ac5-46f6-a900-22e30ff7dc3f","name":"Extrair imagem do HTML","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05295fc0-aca6-433a-a239-c5d8ed4fc011","leftValue":"={{ $json.imagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5200,704],"id":"04c60afc-749d-4f87-aa72-a2b67279f58b","name":"Imagem encontrada?","alwaysOutputData":false},{"parameters":{"resource":"image","prompt":"=Gere uma imagem moderna e realista sobre o seguinte tema:\n[{{ $json.title }}]\n\nA imagem deve ser de alta qualidade, chamativa, ideal para um post profissional no Instagram. Não inclua textos na imagem.\n","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4192,704],"id":"f63a60f5-96d2-44e1-ba93-14701f5a6690","name":"Gerar imagem com IA","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"# Definição da Imagem do Post\n\n### Primeiro busca imagem na notícia, se não encontra gera uma via IA","height":880,"width":2576},"type":"n8n-nodes-base.stickyNote","position":[-6320,448],"typeVersion":1,"id":"7aed6077-f648-47d1-a342-af484c22b87b","name":"Sticky Note6"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Você é um avaliador de qualidade de imagens.\n\nSua tarefa:\n- Analise a imagem recebida.\n- De uma nota de 0 a 10 para a imagem pensando em quanto a imagem esta boa para postarmos nas redes sociais\n\nResponda **apenas** com uma das duas palavras:  \n\n- Se a nota foi maior do que 6 responda com \"bom\"  \n- Se a nota foi menor ou igual a 6 responda com \"ruim\"","imageUrls":"={{ $json.imagem }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5632,1040],"id":"6a3bc35a-813e-41ec-9de8-db36d52ebb6c","name":"Analyze image","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf2d6cbd-1531-4e27-bee0-7d5bed199142","leftValue":"={{ $json.content }}","rightValue":"ruim","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5200,1040],"id":"64e75040-0d3a-46ce-835b-fd5259ce5757","name":"If"},{"parameters":{"resource":"image","prompt":"=Gere uma imagem moderna e realista sobre o seguinte tema:\n{{ $('Validação do campo imagem').item.json.title }}\n\nA imagem deve ser de alta qualidade, chamativa, ideal para um post profissional no Instagram. Não inclua textos na imagem.\n","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4192,1152],"id":"a6365219-2dda-43da-97d1-78acc2881769","name":"Gerar imagem com IA1","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Você é um avaliador de qualidade de imagens.\n\nSua tarefa:\n- Analise a imagem recebida.\n- De uma nota de 0 a 10 para a imagem pensando em quanto a imagem esta boa para postarmos nas redes sociais\n\nResponda **apenas** com uma das duas palavras:  \n\n- Se a nota foi maior do que 6 responda com \"bom\"  \n- Se a nota foi menor ou igual a 6 responda com \"ruim\"","imageUrls":"={{ $json.imagem }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4944,480],"id":"a2e93211-c111-40ba-bf15-71afe7f569f2","name":"Analyze image1","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf2d6cbd-1531-4e27-bee0-7d5bed199142","leftValue":"={{ $json.content }}","rightValue":"ruim","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4768,480],"id":"d6fb2d9f-007d-4a97-bd2b-0da942b3cc28","name":"If1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pega os dados originais da padronização\nconst original = $('Padronização do campo imagem').item.json;\n\nreturn {\n  ...original\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3936,928],"id":"579dc194-6ad1-4f0a-af46-2eae54906f46","name":"Salvar imagem gerada5"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pega os dados originais da padronização\nconst original = $('Padronização do campo imagem').item.json;\n\n// Sobrescreve o campo imagem com a URL do item atual\nreturn {\n  ...original,\n  imagem: $json.url\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3936,1152],"id":"80a9f777-ff65-4d6d-900c-da50cc6f2668","name":"Salvar imagem gerada4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const html = $json.data || $json.body || '';\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : '';\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1];\n  }\n}\n\n// Recupera os campos originais da notícia de 'Backup dados da notícia1'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}),\n  imagem: $json.url // aqui pega a URL da imagem gerada pela IA\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3936,704],"id":"c12d5c2f-9bae-4ba8-af16-6a798bf57826","name":"Salvar imagem gerada2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const html = $json.data || $json.body || '';\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : '';\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1];\n  }\n}\n\n// Recupera os campos originais da notícia de 'Backup dados da notícia1'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}),\n  imagem: $('Imagem encontrada?').item.json.imagem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3936,464],"id":"2a180f58-f80f-46a5-bd06-28094c2ad107","name":"Salvar imagem gerada1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pega os dados originais do node \"Imagem encontrada?\"\nconst original = $('Imagem encontrada?').item.json;\n\n// Junta tudo em um único objeto\nreturn {\n  ...original\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4576,576],"id":"14bbe645-f61b-4817-a517-35928d97b7ff","name":"Padronizar Campos"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4384,704],"id":"546d015f-90da-429f-84aa-1d0d2dddea6a","name":"Merge3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"RSS Open AI Blog","type":"main","index":0},{"node":"RSS Venture Beat","type":"main","index":0},{"node":"RSS MIT","type":"main","index":0},{"node":"RSS Exame","type":"main","index":0},{"node":"RSS infomoney","type":"main","index":0},{"node":"RSS Canal Tech","type":"main","index":0},{"node":"RSS Olhar Digital","type":"main","index":0},{"node":"RSS Tecmundo","type":"main","index":0},{"node":"RSS Canal The Verge","type":"main","index":0},{"node":"RSS Tech Crunch","type":"main","index":0},{"node":"RSS Wired","type":"main","index":0},{"node":"RSS NY Times","type":"main","index":0},{"node":"RSS BBC","type":"main","index":0},{"node":"RSS CNBC","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Estrutura dos Posts","type":"ai_languageModel","index":0}]]},"Binary > base64":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":1}]]},"Create file from text":{"main":[[]]},"AI Agent - Estrutura dos Posts":{"main":[[{"node":"Estruturação do JSON de saída","type":"main","index":0}]]},"Estruturação do JSON de saída":{"main":[[{"node":"Filtro Relevância","type":"main","index":0}]]},"Criação do HTML da Imagem":{"main":[[{"node":"HTML > Imagem","type":"main","index":0},{"node":"Dados + Imagem Final","type":"main","index":2}]]},"HTML > Imagem":{"main":[[{"node":"Baixar imagem","type":"main","index":0}]]},"Baixar imagem":{"main":[[{"node":"Cortar imagem 1080x1350","type":"main","index":0}]]},"Salvar imagem no GitHub":{"main":[[{"node":"Create download_url","type":"main","index":0}]]},"Dados + Imagem Final":{"main":[[{"node":"Criação Id + Link Github","type":"main","index":0}]]},"Salvar no Sheets Controle":{"main":[[]]},"Filtro dos dados consolidados":{"main":[[{"node":"Salvar no Sheets Controle","type":"main","index":0}]]},"Criação Id + Link Github":{"main":[[{"node":"Filtro dos dados consolidados","type":"main","index":0},{"node":"Create file from text","type":"main","index":0}]]},"Filtro Relevância":{"main":[[{"node":"Criação do HTML da Imagem","type":"main","index":0},{"node":"Criação do HTML da Imagem1","type":"main","index":0}]]},"Cortar imagem 1080x1350":{"main":[[{"node":"Binary > base64","type":"main","index":0},{"node":"Salvar imagem no GitHub","type":"main","index":0}]]},"RSS Exame":{"main":[[{"node":"Merge","type":"main","index":3}]]},"RSS infomoney":{"main":[[{"node":"Merge","type":"main","index":4}]]},"RSS Open AI Blog":{"main":[[{"node":"Merge","type":"main","index":0}]]},"RSS Venture Beat":{"main":[[{"node":"Merge","type":"main","index":1}]]},"RSS MIT":{"main":[[{"node":"Merge","type":"main","index":2}]]},"RSS Canal Tech":{"main":[[{"node":"Merge","type":"main","index":5}]]},"RSS Tecmundo":{"main":[[{"node":"Merge","type":"main","index":6}]]},"RSS Olhar Digital":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"RSS Canal The Verge":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"RSS Tech Crunch":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"RSS Wired":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"RSS NY Times":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"RSS BBC":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"RSS CNBC":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Filtro de data da notícia":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Filtro de data da notícia","type":"main","index":0}]]},"Code":{"main":[[{"node":"Padronização do campo imagem","type":"main","index":0}]]},"Create download_url":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":0}]]},"Criação do HTML da Imagem1":{"main":[[{"node":"HTML > Imagem1","type":"main","index":0}]]},"HTML > Imagem1":{"main":[[{"node":"Baixar imagem1","type":"main","index":0}]]},"Baixar imagem1":{"main":[[{"node":"Cortar imagem 1080x1351","type":"main","index":0}]]},"Salvar imagem no GitHub1":{"main":[[{"node":"Create download_url2","type":"main","index":0}]]},"Cortar imagem 1080x1351":{"main":[[{"node":"Salvar imagem no GitHub1","type":"main","index":0}]]},"Create download_url2":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":3}]]},"Unificar imagem final1":{"main":[[{"node":"AI Agent - Estrutura dos Posts","type":"main","index":0}]]},"Padronização do campo imagem":{"main":[[{"node":"Validação do campo imagem","type":"main","index":0}]]},"Validação do campo imagem":{"main":[[{"node":"Backup dados da notícia","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Backup dados da notícia":{"main":[[{"node":"Buscar HTML da notícia","type":"main","index":0}]]},"Buscar HTML da notícia":{"main":[[{"node":"Extrair imagem do HTML","type":"main","index":0}]]},"Extrair imagem do HTML":{"main":[[{"node":"Imagem encontrada?","type":"main","index":0}]]},"Imagem encontrada?":{"main":[[{"node":"Analyze image1","type":"main","index":0}],[{"node":"Merge3","type":"main","index":1}]]},"Gerar imagem com IA":{"main":[[{"node":"Salvar imagem gerada2","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Salvar imagem gerada5","type":"main","index":0}],[{"node":"Gerar imagem com IA1","type":"main","index":0}]]},"Gerar imagem com IA1":{"main":[[{"node":"Salvar imagem gerada4","type":"main","index":0}]]},"Analyze image1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Salvar imagem gerada1","type":"main","index":0}],[{"node":"Padronizar Campos","type":"main","index":0}]]},"Padronizar Campos":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Gerar imagem com IA","type":"main","index":0}]]},"Salvar imagem gerada1":{"main":[[{"node":"Unificar imagem final1","type":"main","index":0}]]},"Salvar imagem gerada2":{"main":[[{"node":"Unificar imagem final1","type":"main","index":1}]]},"Salvar imagem gerada5":{"main":[[{"node":"Unificar imagem final1","type":"main","index":2}]]},"Salvar imagem gerada4":{"main":[[{"node":"Unificar imagem final1","type":"main","index":3}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1,"errorWorkflow":"QdC9qh9DPcT2xcoq"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0","sheetId":0,"lastRevision":271,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0&revision=271&exportFormat=xlsx"},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Trigger nova noticia no sheets":{"documentId":"1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0","sheetId":0,"lastRevision":271,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0&revision=271&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"452e2da5-d0aa-4d8d-b93e-e18ac20a560c","triggerCount":1,"tags":[]}