1.1---bms---journal---rss-H2x0mSHotCGkgNN1.json
{"createdAt":"2025-09-03T14:29:47.880Z","updatedAt":"2025-09-05T19:28:45.158Z","id":"H2x0mSHotCGkgNN1","name":"1.1 - BMS - Journal - RSS","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-10032,1040],"id":"50ad20db-cd58-4735-b3d7-a0b6bc63a0c4","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-9776,1040],"id":"2247a2d3-5a18-4c8b-9ec6-bd4008055522","name":"No Operation, do nothing","alwaysOutputData":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3664,848],"id":"25a8c17a-3869-45ae-acb9-9824c37f388d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"o1ywdYlH64cgqSMT","name":"OpenRouter account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const binaryData = $input.item.binary?.[\"imagem_final\"];\n\nif (!binaryData || !binaryData.data) {\n  throw new Error(\"Campo 'imagem_final' não encontrado no binário.\");\n}\n\nconst base64 = Buffer.from(binaryData.data, 'base64').toString(\"base64\");\n\nreturn {\n  json: {\n    base64Image: base64\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,560],"id":"49563df7-f761-4151-a144-768dc66de12a","name":"Binary > base64"},{"parameters":{"content":"# Portais de notícias\n\n### Portais de notícias que o fluxo irá consultar para gerar os posts","height":4528,"width":1744},"type":"n8n-nodes-base.stickyNote","position":[-9312,-1600],"typeVersion":1,"id":"d04ccd5f-cfe2-4139-acbb-4031ffbdf075","name":"Sticky Note"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-8000,-976],"id":"192cb322-eed6-495f-9b39-678b1617d787","name":"Notícias Consolidadas"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3872,736],"id":"cc9be51a-ff48-4c89-88f3-52ff3cbf2efb","name":"Unificar imagem final"},{"parameters":{"content":"# Custos totais da Infra + Manut.\n\n### VPS - BRL 60 / mês\n### Open Router e Open AI API - USD 25 / month\n### hcti.io - HTML/CSS to Image API - USD 14 / month\n### Evolution API - BRL 40 / mês?\n### Telera - Número Whatsapp - BRL 11 / mês?\n### Conta Google - BRL 60 / mês\n### Manutenção e melhorias - BRL 500 / mês\n\n## Total ~ 900 / mês","height":528,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-9904,-1600],"typeVersion":1,"id":"7d799417-7e96-4928-85fd-8f2513fec814","name":"Sticky Note9"},{"parameters":{"promptType":"define","text":"=Você é um especialista e autoridade em conteúdo tributário no Instagram. Sua comunicação é informativa, objetiva e valorizada por profissionais do setor — como contadores, advogados, empresários e gestores financeiros — que acompanham suas publicações para se manterem atualizados com o que realmente importa.\n\nVocê recebe uma lista de notícias (que pode conter itens repetidos de diferentes fontes).\n\nSua missão:\n\nAnalise profundamente todas as notícias.\n\nPara cada notícia, atribua uma nota de relevância de 0 a 10, representando o quanto ela é relevante para o setor tributário brasileiro.\n\nA nota deve refletir o interesse para contadores, advogados tributaristas, empresários, gestores financeiros e outros profissionais.\n\nConsidere impacto direto no setor, novidades de legislação, decisões judiciais (STF/STJ), decisões administrativas (CARF/Receita Federal), dados, tendências e mudanças em impostos ou regimes tributários.\n\nPara cada notícia única:\n\nCrie um título original e curto (até 15 palavras), nunca copiando o título publicado pelos portais. Sempre busque um título chamativo, trazendo algo polêmico ou instigante sobre a notícia. Nunca use linguagem informal e nunca adicione emojis no título.\n\nEscreva uma legenda com até 600 caracteres, dividida em 5 blocos, bem explicados. Ela deve ser clara, simples e com tom didático, como se estivesse explicando para alguém que nunca ouviu falar do assunto.\n\nA legenda deve conter cinco blocos separados por \\n\\n, mas sem escrever os nomes dos blocos. Siga a estrutura abaixo apenas como orientação interna (não inclua esses títulos no texto final):\n\nEstrutura da legenda:\n\nContexto e Fato: Conte o que aconteceu, com as informações principais e números relevantes (sem termos técnicos difíceis) e sempre cobrindo todos os pontos da notícia.\n\nSimplificação do Tema: Explique com clareza e simplicidade o que é esse tema (ex: o que é ICMS? Como funciona o planejamento tributário? O que são soluções de consulta, etc.). Imagine que está falando com alguém de 18 anos que nunca ouviu falar disso.\n\nImpacto no Negócio: Mostre como a notícia impacta na vida do profissional de finanças ou do empresário. Por exemplo, como uma decisão do STF sobre um imposto pode gerar economia? O que uma nova Instrução Normativa da Receita Federal muda na prática? Como uma decisão do CARF pode afetar a defesa em um processo de autuação? Sempre relacionando a notícia com o mundo dos negócios e da gestão fiscal.\n\nChamada para Reflexão: Inclua uma pergunta ou convite leve para o público refletir ou comentar. Algo que gere discussão nos comentários, pedindo opiniões ou levantando uma questão polêmica.\n\nCTA Final: Acrescente exatamente uma linha final, separada por \\n\\n, somos uma consultoria tributaria, entao o CTA tem que ser para quem esta recebendo a mensagem marcar uma agenda com nossos especialistas que ajudamos em uma estrategia tributaria para otimizar seus resultados.\n\nUse esta estrutura apenas como referência interna para construir a legenda (não escreva os títulos dos blocos na legenda final).\n\nA legenda não deve parecer um convite para acessar a matéria completa. Ela já entrega o que importa.\n\nRetorne no seguinte formato JSON (precisa retornar exatamente nesse formato com todos esses campos):\n\n\n[\n  {\n    \"titulo\": \"Seu título original aqui\",\n    \"legenda\": \"Legenda estruturada com \\\\n\\\\n\",\n    \"imagem\": \"{{ $json.imagem }}\",\n    \"fonte\": \"{{ $json.link }}\",\n    \"nota\": 0-10 (número inteiro)\n  }\n]\n\nGaranta que cada item do array corresponde a uma notícia realmente única, com título e legenda originais, prontos para capturar e engajar o público do Instagram.\n\nLista de notícias:\nLink: {{ $json.link }}\nTitulo: {{ $json.title }}\nConteudo: {{ $json.content }}\nConteudo2: {{ $json.contentSnippet }}\n\nRetorne diretamente como JSON válido (não como string). Sem aspas no array completo.\n\nNa legenda, utilize \"\\n\\n\" para representar quebras de linha, separando claramente os blocos de conteúdo.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-3664,592],"id":"10cb40f1-4ae4-4d5f-8188-6729f0415b48","name":"AI Agent - Estrutura dos Posts","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const allNoticias = items.flatMap(item => JSON.parse(item.json.output));\n\nreturn allNoticias.map((noticia, index) => {\n  return {\n    json: {\n      ...noticia\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3280,592],"id":"ef523a9d-93b0-4285-a1d3-82af97b9108e","name":"Estruturação do JSON de saída","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"6cb1827b-7e9b-4c1d-9553-704a28bc6cff","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n\n    html, body {\n      width: 1080px;\n      height: 1350px;\n      overflow: hidden;\n      background: black;\n      font-family: Arial, sans-serif;\n    }\n\n    .container {\n      position: relative;\n      width: 1080px;\n      height: 1350px;\n      background-image: url(\"{{$json['imagem']}}\");\n      background-size: cover;\n      background-position: center center;\n      background-repeat: no-repeat;\n    }\n\n    .overlay-gradient {\n      position: absolute;\n      bottom: 0;\n      left: 0;\n      width: 100%;\n      height: 40%;\n      background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);\n      z-index: 1;\n    }\n\n.logo {\n  position: absolute;\n  top: 40px;\n  right: 50px;\n  width: 160px;\n  height: auto;\n  z-index: 2;\n}\n.logo img {\n  width: 100%;\n  height: auto;\n  object-fit: contain;\n}\n\n    .text-block {\n      position: absolute;\n      bottom: 200px;\n      left: 50px;\n      right: 50px;\n      max-width: calc(100% - 100px);\n      z-index: 2;\n      color: white;\n    }\n\n    .tag {\n      display: inline-block;\n      background-color: #002856; /* azul do logo */\n      color: white;\n      font-size: 28px;\n      font-weight: bold;\n      padding: 10px 20px;\n      margin-bottom: 20px;\n    }\n\n    .text-block h2 {\n      margin: 0;\n      font-size: 56px;\n      font-weight: bold;\n      line-height: 1.2;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"overlay-gradient\"></div>\n    <div class=\"logo\">\n      <img src=\"https://i.ibb.co/j9sW6v2K/bms2.png\" />\n    </div>\n    <div class=\"text-block\">\n      <div class=\"tag\">BMS CONSULTORIA TRIBUTÁRIA</div>\n      <h2>{{$json[\"titulo\"]}}</h2>\n    </div>\n  </div>\n</body>\n</html>","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2800,672],"id":"5d56abaf-c95d-40a1-a974-de1503f60bf9","name":"Criação do HTML da Imagem"},{"parameters":{"content":"# Estruturação dos Posts\n\n### Lógica para definir estrutura dos posts. Escolhe o que é mais relevante e reescreve título, legenda e prepara JSON para etapas seguintes.","height":768,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[-3952,304],"typeVersion":1,"id":"c5f7ab23-202f-43a3-9bd2-73d66e508157","name":"Sticky Note10"},{"parameters":{"content":"# Edição das Imagens\n\n### Todas as transformações necessárias para ter a imagem final. \n### Publicação da imagem no Github, geração do link público da imagem e transformação para base64 (para envio no whatsapp).","height":1296,"width":1504},"type":"n8n-nodes-base.stickyNote","position":[-2880,128],"typeVersion":1,"id":"b71820f4-76f8-4dda-ade0-a4665e6929a7","name":"Sticky Note11"},{"parameters":{"method":"POST","url":"https://hcti.io/v1/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Basic MDRlZDA4NWYtYmY0OS00MzIyLWExMzEtMzY3ZjA1YmRiOTllOmQ0MzhjODk3LTVlYzctNGMyNS1iMjM0LWY5NGYyNjc1OGRhYQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"html","value":"={{ $json.html }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2608,448],"id":"867657ce-a9c1-4d02-a680-ab97aaa0db57","name":"HTML > Imagem","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"imagem_final"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2400,448],"id":"821d3b28-622f-4116-81a0-a079d2cc22d2","name":"Baixar imagem"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"getmia","mode":"list","cachedResultName":"getmia","cachedResultUrl":"https://github.com/getmia"},"repository":{"__rl":true,"value":"miabuilder-images","mode":"list","cachedResultName":"miabuilder-images","cachedResultUrl":"https://github.com/getmia/miabuilder-images"},"filePath":"=images/{{$now.toFormat(\"yyyyMMddHHmmssSSS\")}}.jpg","binaryData":true,"binaryPropertyName":"imagem_final","commitMessage":"Adicionando imagem via n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1888,320],"id":"7c7d2bd6-4016-4b17-8d28-17266f09f778","name":"Salvar imagem no GitHub","webhookId":"b87a9e10-0c63-4736-a0a2-cc93055dc85e","credentials":{"githubApi":{"id":"Gd4bGzglU6thixeI","name":"GitHub account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1168,672],"id":"c5d2d4b5-8de6-473c-8ee4-02f3e9a0600f","name":"Dados + Imagem Final","onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA","mode":"list","cachedResultName":"BMS - Controle Journal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_processamento","displayName":"data_processamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem_url2","displayName":"imagem_url2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"justificativa","displayName":"justificativa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-400,896],"id":"08bf39be-59f3-484e-8d04-3fcb0e72f5f5","name":"Salvar no Sheets Controle","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const { noticia_id, titulo, legenda, fonte, imagem, arquivo_base64, imagem_url, imagem_url2, status, nota } = item.json;\n  const id = item.json.id;\n\n  const data = new Date();\n  const data_processamento = data.toLocaleDateString('pt-BR'); // formato: dd/mm/aaaa\n\n  return {\n    json: {\n      noticia_id,\n      data_processamento,\n      titulo,\n      legenda: legenda.replace(/\\\\n/g, '\\n\\n'), // <- agora gera 1 linha em branco entre blocos\n      fonte,\n      imagem,\n      arquivo_base64,\n      imagem_url,\n      imagem_url2,     // <-- agora vai junto\n      status,\n      nota\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,896],"id":"cf916c53-f3c8-47b4-8a57-8fc34c075305","name":"Filtro dos dados consolidados"},{"parameters":{"jsCode":"const dataAgora = new Date();\nconst yyyy = dataAgora.getFullYear();\nconst mm = String(dataAgora.getMonth() + 1).padStart(2, '0');\nconst dd = String(dataAgora.getDate()).padStart(2, '0');\nconst hh = String(dataAgora.getHours()).padStart(2, '0');\nconst min = String(dataAgora.getMinutes()).padStart(2, '0');\nconst ss = String(dataAgora.getSeconds()).padStart(2, '0');\n\nconst base = `noticia_${yyyy}${mm}${dd}_${hh}${min}${ss}`;\n\n// coleta TODAS as download_url (inclui download_url2) de TODOS os itens\nfunction collectDownloadUrls(obj, acc = []) {\n  if (!obj || typeof obj !== 'object') return acc;\n  for (const [k, v] of Object.entries(obj)) {\n    if ((k === 'download_url' || k === 'download_url2') && typeof v === 'string') acc.push(v);\n    else if (v && typeof v === 'object') collectDownloadUrls(v, acc);\n  }\n  return acc;\n}\n\n// URLs únicas vindas de todos os itens (ramo img1 + ramo img2)\nconst urlsAll = Array.from(new Set(items.flatMap(i => collectDownloadUrls(i.json))));\n\n// primeira e segunda URL do lote\nconst url1 = urlsAll[0] ?? null;\nconst url2 = urlsAll.find(u => u !== url1) ?? null;\n\nreturn items.map((item, index) => {\n  const sequencial = String(index + 1).padStart(3, '0');\n  const noticia_id = `${base}_${sequencial}`;\n\n  // se já vier setado no item, respeita; senão usa as do lote\n  const imagem_url  = item.json.imagem_url  ?? item.json.download_url  ?? url1;\n  const imagem_url2 = item.json.imagem_url2 ?? item.json.download_url2 ?? url2;\n\n  return {\n    json: {\n      ...item.json,\n      noticia_id,\n      status: item.json.status ?? 'aguardando',\n      arquivo_base64: `${noticia_id}.txt`,\n      imagem_url,\n      imagem_url2,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,704],"id":"01e2d37b-e03a-4d18-92ef-17154fa40de3","name":"Criação Id + Link Github"},{"parameters":{"content":"# Atualização Controles e Envio do resultado por Whatsapp\n\n### Atualiza sheets e drive com informações e arquivos importantes\n### Envio do post completo por whatsapp para aprovador","height":656,"width":1136},"type":"n8n-nodes-base.stickyNote","position":[-1328,448],"typeVersion":1,"id":"bb1df889-931b-400a-9d6f-57bb7d6ef910","name":"Sticky Note12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c9a2cce-1e4b-4f37-9c24-91e5375e8efe","leftValue":"={{ $json.nota }}","rightValue":7,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3088,592],"id":"6f6d473d-70a9-4a06-abed-abfd41326be3","name":"Filtro Relevância"},{"parameters":{"operation":"crop","dataPropertyName":"imagem_final","width":1080,"height":1350,"options":{"format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-2176,448],"id":"d087483a-57b0-4005-a7c4-ab17dab0f7c2","name":"Cortar imagem 1080x1350"},{"parameters":{"url":"https://www.moneytimes.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-336],"id":"232a67b1-cf13-421d-9350-573c87650322","name":"RSS Portal Money Times","onError":"continueRegularOutput"},{"parameters":{"url":"https://cbic.org.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-176],"id":"0ee8c948-a286-4b26-946c-3a02b2da0545","name":"RSS CBIC (Câmara Brasileira da Indústria da Construção)","onError":"continueRegularOutput"},{"parameters":{"url":"https://startupi.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-16],"id":"575b7481-90d4-408d-9df8-855a14824460","name":"RSS Startupi","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://g1.globo.com/rss/g1/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,160],"id":"4542a087-2b06-4f6e-8dd1-413bf8d53998","name":"RSS Globo G1","onError":"continueRegularOutput"},{"parameters":{"url":"https://feeds.bbci.co.uk/portuguese/rss.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,304],"id":"19be93fb-139b-4193-af1a-86e9b989184c","name":"RSS BBC","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.cnnbrasil.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,448],"id":"5ff0fa40-e326-4a23-bbf1-127ba9b640fc","name":"RSS CNN","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.jornaldooeste.com.br/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,640],"id":"31afba4c-3f54-4f63-9320-81c6cd47474f","name":"RSS Jornal do Oeste","onError":"continueRegularOutput"},{"parameters":{"url":"https://www12.senado.leg.br/noticias/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,784],"id":"5b1bd8f1-8de4-4bae-86de-916870f4aa23","name":"RSS Senado","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.camara.leg.br/noticias/rss/ultimas-noticias","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,928],"id":"ecbde913-3755-4110-8bc8-fb1d34bb8512","name":"RSS Camara","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.camara.leg.br/noticias/rss/dinamico/AGROPECUARIA","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,1088],"id":"fdc9f52b-6add-433f-a6d7-3f44305c41f4","name":"RSS Camara Agro","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.camara.leg.br/noticias/rss/dinamico/ELEICOES","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,1248],"id":"4e8a9339-16ff-4e5c-b108-506b67f4a60c","name":"RSS Camara Eleicoes","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.camara.leg.br/noticias/rss/dinamico/ADMINISTRACAO-PUBLICA","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,1408],"id":"dadf96a9-d621-45ae-af16-e3160d84f157","name":"RSS Camara Adm Publica","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.camara.leg.br/noticias/rss/dinamico/POLITICA","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,1584],"id":"31381df6-8971-412f-b5ad-5d9da355a7b8","name":"RSS Camara Politica","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.camara.leg.br/noticias/rss/dinamico/ECONOMIA","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,1744],"id":"ab4d6e79-159d-4b9a-9e38-bb73df6c56cc","name":"RSS Camara Economia","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.camara.leg.br/noticias/rss/dinamico/CIDADES","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,1904],"id":"00519347-a7b0-4ed6-8506-7b2f5d01e0a9","name":"RSS Camara Cidades","onError":"continueRegularOutput"},{"parameters":{"url":"https://agenciabrasil.ebc.com.br/rss/ultimasnoticias/feed.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,2064],"id":"8d14902f-621e-4737-812c-de6e538fc532","name":"RSS Agencia Brasil","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.theguardian.com/world/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,2224],"id":"54cbf795-97db-4fd9-9889-590f7fbf1aa2","name":"RSS The Guardian","onError":"continueRegularOutput"},{"parameters":{"url":"https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,2368],"id":"85d60a56-665f-41c9-84f4-70830703872e","name":"RSS nytimes","onError":"continueRegularOutput"},{"parameters":{"url":"https://rss.dw.com/rdf/rss-en-top","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,2512],"id":"6cc872de-e833-4a03-a1cf-314b625b9175","name":"RSS Deutsche Welle","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.aljazeera.com/xml/rss/all.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,2672],"id":"3ffac657-f538-43e0-864a-7176df1ac098","name":"RSS Al Jazeera","onError":"continueRegularOutput"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-8000,864],"id":"2f6a28f0-9ee4-467a-b42c-f46237759cf8","name":"Notícias Consolidadas1"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-8000,2160],"id":"674eb1a0-8a78-4665-97c2-1873aad8e68a","name":"Notícias Consolidadas2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7440,960],"id":"3f4568a5-4eef-4ccb-8424-fc24376bbbb3","name":"Notícias Consolidadas3"},{"parameters":{"operation":"createFromText","content":"={{ $json.base64Image }}","name":"={{$json[\"arquivo_base64\"]}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1-TqSloGeJhKGhoDNe9bI6jhDmRcH0KAM","mode":"list","cachedResultName":"base64","cachedResultUrl":"https://drive.google.com/drive/folders/1-TqSloGeJhKGhoDNe9bI6jhDmRcH0KAM"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-608,704],"id":"221e8eb5-b12f-4247-af9e-500b290dd118","name":"Create base64.txt","credentials":{"googleDriveOAuth2Api":{"id":"ZkmaJh5Y8Zdz8ju7","name":"Google Drive - lucas@getmia.com.br"}}},{"parameters":{"assignments":{"assignments":[{"id":"6cb1827b-7e9b-4c1d-9553-704a28bc6cff","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>CTA BMS</title>\n  <style>\n    * { margin:0; padding:0; box-sizing:border-box; }\n    html, body {\n      width:1080px; height:1350px; overflow:hidden; background:#000; font-family: Arial, Helvetica, sans-serif;\n    }\n    :root{\n      /* azul do logo */\n      --brand:#0071bc;\n      --text:#ffffff;\n      --muted:#cfcfcf;\n    }\n    .wrap{position:relative; width:1080px; height:1350px; background:#000;}\n    /* bloco central com logo e CTA */\n    .center{\n      position:absolute; inset:0; display:flex; flex-direction:column; align-items:center; justify-content:center; gap:36px; padding:80px 80px 140px;\n      text-align:center;\n    }\n    .logo{\n      width:480px; height:auto; filter: drop-shadow(0 10px 24px rgba(0,0,0,.6));\n    }\n    .title{\n      font-size:64px; line-height:1.12; font-weight:800; color:var(--text);\n      letter-spacing:.2px;\n    }\n    .highlight{ color:var(--brand); }\n    .subtitle{\n      margin-top:6px; font-size:30px; line-height:1.46; color:var(--muted);\n    }\n    /* barra inferior com ícones de engajamento */\n    .footer{\n      position:absolute; left:0; right:0; bottom:0; height:160px; display:flex; align-items:center; justify-content:center; gap:56px;\n      border-top:1px solid rgba(255,255,255,.08); background:linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 30%, rgba(0,0,0,.85) 100%);\n    }\n    .action{\n      display:flex; align-items:center; gap:14px; color:var(--text); font-size:28px; font-weight:700;\n      text-transform:uppercase; letter-spacing:.8px;\n    }\n    .action .label{opacity:.9}\n    .icon{ width:44px; height:44px; display:inline-block; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"center\">\n      <img class=\"logo\" src=\"https://i.ibb.co/j9sW6v2K/bms2.png\" alt=\"Logo BMS\" />\n      <div class=\"title\">\n        Siga a <span class=\"highlight\">página</span> para as principais\n        notícias do mundo tributário.\n      </div>\n      <div class=\"subtitle\">\n        Consulte um <span class=\"highlight\">especialista</span> da BMS — <b>link na bio</b>.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      <!-- like -->\n      <div class=\"action\">\n        <svg class=\"icon\" viewBox=\"0 0 24 24\" fill=\"none\">\n          <path d=\"M7 22H5a3 3 0 0 1-3-3v-7a3 3 0 0 1 3-3h2v13Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n          <path d=\"M7 9l5-6a2 2 0 0 1 3 2l-1 5h5a2 2 0 0 1 2 2l-2 8a2 2 0 0 1-2 2H7\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n        </svg>\n        <span class=\"label\">Curtir</span>\n      </div>\n      <!-- comment -->\n      <div class=\"action\">\n        <svg class=\"icon\" viewBox=\"0 0 24 24\" fill=\"none\">\n          <path d=\"M21 15a4 4 0 0 1-4 4H8l-5 4V5a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v10Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n        </svg>\n        <span class=\"label\">Comentar</span>\n      </div>\n      <!-- share -->\n      <div class=\"action\">\n        <svg class=\"icon\" viewBox=\"0 0 24 24\" fill=\"none\">\n          <path d=\"M4 12l7-7v4c6 0 9 3 9 9-2-3-5-4-9-4v4l-7-6Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n        </svg>\n        <span class=\"label\">Compartilhar</span>\n      </div>\n    </div>\n  </div>\n</body>\n</html>","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2800,1168],"id":"474d7f62-9c13-48a7-bd03-8f1bfc4f9da4","name":"Criação do HTML da Imagem1"},{"parameters":{"method":"POST","url":"https://hcti.io/v1/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Basic MDRlZDA4NWYtYmY0OS00MzIyLWExMzEtMzY3ZjA1YmRiOTllOmQ0MzhjODk3LTVlYzctNGMyNS1iMjM0LWY5NGYyNjc1OGRhYQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"html","value":"={{ $json.html }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2608,944],"id":"26ebbd54-b39a-40e4-9978-46fb3ee449cb","name":"HTML > Imagem1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"imagem_final"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2400,944],"id":"10b8b514-d1aa-48fc-8ab2-b52067e4f4da","name":"Baixar imagem1"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"getmia","mode":"list","cachedResultName":"getmia","cachedResultUrl":"https://github.com/getmia"},"repository":{"__rl":true,"value":"miabuilder-images","mode":"list","cachedResultName":"miabuilder-images","cachedResultUrl":"https://github.com/getmia/miabuilder-images"},"filePath":"=images/{{$now.toFormat(\"yyyyMMddHHmmssSSS\")}}2.jpg","binaryData":true,"binaryPropertyName":"imagem_final","commitMessage":"Adicionando imagem via n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1888,944],"id":"446c2c3e-9aa8-46f2-ae1b-ba3f81810ab5","name":"Salvar imagem no GitHub1","webhookId":"ab951ac8-0032-411c-807b-79f3ee6d5cdd","credentials":{"githubApi":{"id":"Gd4bGzglU6thixeI","name":"GitHub account"}}},{"parameters":{"operation":"crop","dataPropertyName":"imagem_final","width":1080,"height":1350,"options":{"format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-2176,944],"id":"a84fa222-b3f9-4ec0-aaee-10423984a737","name":"Cortar imagem 1080x1351"},{"parameters":{"assignments":{"assignments":[{"id":"44644f81-81ee-4f9f-a299-8c3b33541f3d","name":"download_url2","value":"={{ $json.content.download_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,944],"id":"454e31b7-eaad-44f1-ad31-80a81a6b1425","name":"Create download_url2"},{"parameters":{"assignments":{"assignments":[{"id":"68aef7bc-9f60-4636-bc5f-06de8889a312","name":"download_url","value":"={{ $json.content.download_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,320],"id":"44d78e7b-4d8d-4650-98cd-8cce0eadbd24","name":"Create download_url"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e201d72c-d4e6-4a9e-a07e-782cf5a39960","leftValue":"={{ new Date($json[\"pubDate\"]) }}","rightValue":"={{ new Date(Date.now() - 1 / 2 * 60 * 60 * 1000) }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7152,976],"id":"ab5a542c-f0f4-4326-b803-2158491b1a83","name":"Filtro de data da notícia","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.conjur.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-1504],"id":"76a40f18-0171-436a-a0b0-60deee5538d5","name":"RSS Conjur","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.jota.info/feed","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-1328],"id":"b8437711-44d1-4193-9334-274d584ec48c","name":"RSS Jota Info","onError":"continueRegularOutput"},{"parameters":{"url":"https://agenciabrasil.ebc.com.br/rss/ultimasnoticias/feed.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-1168],"id":"8800cdd5-b59c-4853-b2be-991133f95415","name":"RSS Agencia Brasil1","onError":"continueRegularOutput"},{"parameters":{"url":"https://res.stj.jus.br/hrestp-c-portalp/RSS.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-992],"id":"48f62dc7-9a09-45de-a39e-30d2e9703b09","name":"RSS STJ Noticias","onError":"continueRegularOutput"},{"parameters":{"url":"https://scon.stj.jus.br/SCON/PesquisaProntaFeed    ","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-832],"id":"78ea0371-aac9-4864-b8a7-08420e61d069","name":"RSS STJ Pesquisa Pronta","onError":"continueRegularOutput"},{"parameters":{"url":"https://scon.stj.jus.br/SCON/JurisprudenciaEmTesesFeed","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-656],"id":"08d2dde2-5036-4471-9c36-dd5841c8230c","name":"RSS STJ Jurisprudencia em Teses","onError":"continueRegularOutput"},{"parameters":{"url":"https://processo.stj.jus.br/jurisprudencia/externo/InformativoFeed","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8592,-496],"id":"bc49ad50-826d-454b-a45f-dd7a8e09ebed","name":"RSS STJ Informativo de Jurisprudencia","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// === Parâmetros ===\nconst THRESHOLD = 80;           // mínimo para aprovar\nconst MAX_ITENS = 30;           // máximo a retornar\nconst DECAY_HALF_LIFE_H = 48;   // meia-vida da recência (horas)\nconst DEDUPE_SIMILARITY = 0.85; // similaridade p/ dedupe (0..1)\nconst KEEP_SCORE_IN_OUTPUT = false; // true só p/ debug\n\n// === Dicionários de relevância (tema tributário) ===\nconst KW = {\n  forte: [\n    // Básicos\n    'tributo','tributos','tributário','tributária','tributárias','tributários',\n    'imposto','impostos','taxa','taxas','tarifa','tarifas',\n\n    // Impostos específicos\n    'icms','ipi','iss','irpf','irpj','csll','pis','cofins',\n    'iof','iptu','itbi','itr','cide','inss','fgts','sat',\n\n    // Reforma e mudanças\n    'reforma tributária','sistema tributário','código tributário','ctn',\n\n    // Fisco e fiscalização\n    'fisco','arrecadação','fiscalização','autuação','multa','multas',\n    'execução fiscal','notificação fiscal','cobrança tributária',\n\n    // Planejamento e elisão\n    'planejamento tributário','elisão fiscal','evasão fiscal','sonegação',\n\n    // Incentivos e créditos\n    'incentivo fiscal','incentivos fiscais','benefício fiscal','benefícios fiscais',\n    'crédito tributário','compensação tributária','recuperação de crédito',\n\n    // Órgãos e julgamentos\n    'carf','stf','stj','receita federal','sefaz','pgfn',\n    'procuradoria da fazenda','secretaria da fazenda',\n\n    // Regimes e enquadramentos\n    'simples nacional','lucro presumido','lucro real','lucro arbitrado','mei',\n\n    // Obrigações acessórias\n    'declaração de renda','sped','efd','ecf','dctf','dirf','perdcomp','nf-e','nota fiscal',\n    'obrigações acessórias','bloco k'\n  ],\n  medio: [\n    'contabilidade','contador','auditoria','perícia','compliance',\n    'fraude fiscal','due diligence','jurisprudência','acórdão',\n    'consulta tributária','instrução normativa','solução de consulta',\n    'benefícios previdenciários','contribuições sociais'\n  ],\n  fracos: [\n    'jogos','game','celebridade','famoso','esporte','entretenimento',\n    'show','cantor','cantora','filme','série','bbb','futebol',\n    'meme','tiktok','gadget','smartphone'\n  ],\n  brasil: [\n    'brasil','receita federal','carf','stf','stj',\n    'sefaz','pgfn','procuradoria da fazenda nacional',\n    'governo federal','congresso','câmara','senado'\n  ],\n  contextoEco: [\n    'tributação','carga tributária','arrecadação','orçamento',\n    'déficit fiscal','responsabilidade fiscal','economia','pib',\n    'reforma','política fiscal','isenção','renúncia fiscal'\n  ]\n};\n\n// === Funções auxiliares ===\nconst norm = (s='') =>\n  String(s).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n    .replace(/https?:\\/\\/\\S+/g,' ')\n    .replace(/[^\\p{L}\\p{N}\\s]/gu,' ')\n    .replace(/\\s+/g,' ')\n    .trim();\n\nconst tokens = s => new Set(norm(s).split(' ').filter(t => t.length > 2));\n\nconst tokenSimilarity = (a,b) => {\n  const A = tokens(a), B = tokens(b);\n  const inter = [...A].filter(t => B.has(t)).length;\n  return inter / (Math.max(A.size, B.size) || 1);\n};\n\nconst hasAny = (text, list) => {\n  const t = norm(text);\n  return list.some(k => t.includes(norm(k)));\n};\n\nconst hoursSince = (d) => {\n  if (!d) return 1e9;\n  const ts = new Date(d).getTime();\n  return isNaN(ts) ? 1e9 : (Date.now() - ts) / 36e5;\n};\n\nconst recencyMultiplier = (h) => {\n  const lambda = Math.log(2) / DECAY_HALF_LIFE_H;\n  return Math.exp(-lambda * h);\n};\n\nconst scoreItem = (j) => {\n  const title = j.title || '';\n  const body = j['content:encoded'] || j.content || '';\n  const snippet = j.contentSnippet || '';\n  const cats = Array.isArray(j.categories)\n    ? j.categories.map(c => typeof c === 'string' ? c : JSON.stringify(c)).join(' ')\n    : (typeof j.categories === 'string' ? j.categories : '');\n  const text = `${title} ${snippet} ${body} ${cats}`;\n\n  let score = 0;\n  const forte = hasAny(text, KW.forte);\n  const contexto = hasAny(text, KW.contextoEco);\n\n  if (forte) score += 40;\n  if (hasAny(text, KW.medio)) score += 20;\n  if (hasAny(text, KW.brasil)) score += 10;\n  if (hasAny(text, KW.fracos)) score -= 50;\n\n  if (forte && contexto) score += 30;\n\n  const hasNumber = /\\b\\d+([.,]\\d+)?\\b/.test(text);\n  const hasPercent = /%\\b/.test(text);\n  if (contexto && hasPercent) score += 15;\n  else if (contexto && hasNumber) score += 5;\n\n  score *= recencyMultiplier(hoursSince(j.isoDate || j.pubDate));\n  return Math.max(0, Math.min(100, Math.round(score)));\n};\n\n// === Pipeline ===\nconst seenTitles = [];\nconst scoredItems = [];\n\nfor (const item of items) {\n  const j = { ...item.json };\n  const s = scoreItem(j);\n\n  let dup = false;\n  for (const prevTitle of seenTitles) {\n    if (tokenSimilarity(prevTitle, j.title || '') >= DEDUPE_SIMILARITY) {\n      dup = true; break;\n    }\n  }\n  if (dup) continue;\n\n  if (s >= THRESHOLD) {\n    seenTitles.push(j.title || '');\n    if (KEEP_SCORE_IN_OUTPUT) j._score = s;\n    scoredItems.push({ json: j, _score: s });\n  }\n}\n\nscoredItems.sort((a,b) => b._score - a._score);\nreturn scoredItems.slice(0, MAX_ITENS).map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6800,960],"id":"883adba4-8675-4680-8257-5506049a2107","name":"Code"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Coloque os possíveis campos que podem trazer a imagem direto do RSS\nconst possiveisCampos = [\n  $json['media:content']?.url,\n  $json['enclosure']?.url,\n  $json['image'],\n  $json['og:image']\n];\nconst imagemDireta = possiveisCampos.find(x => !!x);\n\nreturn {\n  ...$json,\n  imagem: imagemDireta || '' // Se não tiver, deixa vazio\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6560,960],"id":"94a6a354-bfc9-4905-b995-7a1505c1cc76","name":"Padronização do campo imagem","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5d79643-ef81-4cef-b02d-371990a64543","leftValue":"={{ $json.imagem }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6352,960],"id":"d0f0bf50-ec3f-4765-8003-135b41f37db9","name":"Validação do campo imagem"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  ...$json,\n  original: $json // salva todos os dados da notícia\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6128,640],"id":"60f50dbf-e6a7-49fa-a248-b00eac681ad4","name":"Backup dados da notícia"},{"parameters":{"url":"={{ $json.link }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5920,640],"id":"479a1959-34c9-4457-8ef3-a1ddf6ac36d2","name":"Buscar HTML da notícia","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const html = $json.data || $json.body || '';\n\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : \"\";\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1]; // aqui mantém a URL achada\n  }\n}\n\n// Recupera os campos originais da notícia de 'Backup dados da notícia1'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}),\n  imagem\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,640],"id":"837dcc87-6d9c-4c1c-be89-34d353b1d4df","name":"Extrair imagem do HTML","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05295fc0-aca6-433a-a239-c5d8ed4fc011","leftValue":"={{ $json.imagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5504,640],"id":"d8d2acb4-c965-4b8f-a061-f262e4886d17","name":"Imagem encontrada?","alwaysOutputData":false},{"parameters":{"resource":"image","prompt":"=Gere uma imagem moderna e realista sobre o seguinte tema:\n[{{ $json.title }}]\n\nA imagem deve ser de alta qualidade, chamativa, ideal para um post profissional no Instagram. Não inclua textos na imagem.\n","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4496,640],"id":"cdb95367-be88-42c7-b337-e1fd41281bc1","name":"Gerar imagem com IA","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"# Definição da Imagem do Post\n\n### Primeiro busca imagem na notícia, se não encontra gera uma via IA","height":880,"width":2576},"type":"n8n-nodes-base.stickyNote","position":[-6624,384],"typeVersion":1,"id":"7043c877-15a9-4626-b5c3-6fa0d47de25b","name":"Sticky Note6"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Você é um avaliador de qualidade de imagens.\n\nSua tarefa:\n- Analise a imagem recebida.\n- De uma nota de 0 a 10 para a imagem pensando em quanto a imagem esta boa para postarmos nas redes sociais\n\nResponda **apenas** com uma das duas palavras:  \n\n- Se a nota foi maior do que 6 responda com \"bom\"  \n- Se a nota foi menor ou igual a 6 responda com \"ruim\"","imageUrls":"={{ $json.imagem }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5936,976],"id":"59a9641f-6e78-4989-a3bc-7904ee2397f1","name":"Analyze image","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf2d6cbd-1531-4e27-bee0-7d5bed199142","leftValue":"={{ $json.content }}","rightValue":"ruim","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5504,976],"id":"6560a3cf-22ff-4843-b755-953ef7fd1a0f","name":"If"},{"parameters":{"resource":"image","prompt":"=Gere uma imagem moderna e realista sobre o seguinte tema:\n{{ $('Validação do campo imagem').item.json.title }}\n\nA imagem deve ser de alta qualidade, chamativa, ideal para um post profissional no Instagram. Não inclua textos na imagem.\n","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4496,1088],"id":"b4b9814d-2c7e-4dc4-ad45-2f99e1e46e39","name":"Gerar imagem com IA1","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Você é um avaliador de qualidade de imagens.\n\nSua tarefa:\n- Analise a imagem recebida.\n- De uma nota de 0 a 10 para a imagem pensando em quanto a imagem esta boa para postarmos nas redes sociais\n\nResponda **apenas** com uma das duas palavras:  \n\n- Se a nota foi maior do que 6 responda com \"bom\"  \n- Se a nota foi menor ou igual a 6 responda com \"ruim\"","imageUrls":"={{ $json.imagem }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5248,416],"id":"a4a973bd-1a39-4521-874a-8d518692dec8","name":"Analyze image1","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf2d6cbd-1531-4e27-bee0-7d5bed199142","leftValue":"={{ $json.content }}","rightValue":"ruim","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5072,416],"id":"8acca254-459a-4ad1-896d-824bbf8fbe48","name":"If1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pega os dados originais da padronização\nconst original = $('Padronização do campo imagem').item.json;\n\nreturn {\n  ...original\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4240,864],"id":"fa4974a6-c8bd-47ac-93bf-870bf09bea42","name":"Salvar imagem gerada5"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pega os dados originais da padronização\nconst original = $('Padronização do campo imagem').item.json;\n\n// Sobrescreve o campo imagem com a URL do item atual\nreturn {\n  ...original,\n  imagem: $json.url\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4240,1088],"id":"1be30663-10fb-441b-bf70-2a5c552493f8","name":"Salvar imagem gerada4"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const html = $json.data || $json.body || '';\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : '';\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1];\n  }\n}\n\n// Recupera os campos originais da notícia de 'Backup dados da notícia1'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}),\n  imagem: $json.url // aqui pega a URL da imagem gerada pela IA\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4240,640],"id":"890abcd5-c802-47b4-b32e-6d39f06e1829","name":"Salvar imagem gerada2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const html = $json.data || $json.body || '';\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : '';\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1];\n  }\n}\n\n// Recupera os campos originais da notícia de 'Backup dados da notícia1'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}),\n  imagem: $('Imagem encontrada?').item.json.imagem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4240,400],"id":"c5edf464-48ea-44c9-9d02-e5349dcf1160","name":"Salvar imagem gerada1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pega os dados originais do node \"Imagem encontrada?\"\nconst original = $('Imagem encontrada?').item.json;\n\n// Junta tudo em um único objeto\nreturn {\n  ...original\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4880,512],"id":"6375d26b-23a2-46af-a271-7172a6d222e4","name":"Padronizar Campos"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4688,640],"id":"f44360ab-14bc-4a58-83c6-f698a66150ec","name":"Merge3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"RSS Jota Info","type":"main","index":0},{"node":"RSS Agencia Brasil1","type":"main","index":0},{"node":"RSS Conjur","type":"main","index":0},{"node":"RSS STJ Noticias","type":"main","index":0},{"node":"RSS STJ Pesquisa Pronta","type":"main","index":0},{"node":"RSS STJ Informativo de Jurisprudencia","type":"main","index":0},{"node":"RSS STJ Jurisprudencia em Teses","type":"main","index":0},{"node":"RSS Portal Money Times","type":"main","index":0},{"node":"RSS CBIC (Câmara Brasileira da Indústria da Construção)","type":"main","index":0},{"node":"RSS Startupi","type":"main","index":0},{"node":"RSS Globo G1","type":"main","index":0},{"node":"RSS BBC","type":"main","index":0},{"node":"RSS CNN","type":"main","index":0},{"node":"RSS Jornal do Oeste","type":"main","index":0},{"node":"RSS Senado","type":"main","index":0},{"node":"RSS Camara","type":"main","index":0},{"node":"RSS Camara Agro","type":"main","index":0},{"node":"RSS Camara Eleicoes","type":"main","index":0},{"node":"RSS Camara Adm Publica","type":"main","index":0},{"node":"RSS Camara Politica","type":"main","index":0},{"node":"RSS Camara Economia","type":"main","index":0},{"node":"RSS Camara Cidades","type":"main","index":0},{"node":"RSS Agencia Brasil","type":"main","index":0},{"node":"RSS The Guardian","type":"main","index":0},{"node":"RSS nytimes","type":"main","index":0},{"node":"RSS Deutsche Welle","type":"main","index":0},{"node":"RSS Al Jazeera","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Estrutura dos Posts","type":"ai_languageModel","index":0}]]},"Binary > base64":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":1}]]},"Notícias Consolidadas":{"main":[[{"node":"Notícias Consolidadas3","type":"main","index":0}]]},"Unificar imagem final":{"main":[[{"node":"AI Agent - Estrutura dos Posts","type":"main","index":0}]]},"AI Agent - Estrutura dos Posts":{"main":[[{"node":"Estruturação do JSON de saída","type":"main","index":0}]]},"Estruturação do JSON de saída":{"main":[[{"node":"Filtro Relevância","type":"main","index":0}]]},"Criação do HTML da Imagem":{"main":[[{"node":"HTML > Imagem","type":"main","index":0},{"node":"Dados + Imagem Final","type":"main","index":2}]]},"HTML > Imagem":{"main":[[{"node":"Baixar imagem","type":"main","index":0}]]},"Baixar imagem":{"main":[[{"node":"Cortar imagem 1080x1350","type":"main","index":0}]]},"Salvar imagem no GitHub":{"main":[[{"node":"Create download_url","type":"main","index":0}]]},"Dados + Imagem Final":{"main":[[{"node":"Criação Id + Link Github","type":"main","index":0}]]},"Salvar no Sheets Controle":{"main":[[]]},"Filtro dos dados consolidados":{"main":[[{"node":"Salvar no Sheets Controle","type":"main","index":0}]]},"Criação Id + Link Github":{"main":[[{"node":"Filtro dos dados consolidados","type":"main","index":0},{"node":"Create base64.txt","type":"main","index":0}]]},"Filtro Relevância":{"main":[[{"node":"Criação do HTML da Imagem","type":"main","index":0},{"node":"Criação do HTML da Imagem1","type":"main","index":0}]]},"Cortar imagem 1080x1350":{"main":[[{"node":"Binary > base64","type":"main","index":0},{"node":"Salvar imagem no GitHub","type":"main","index":0}]]},"RSS Portal Money Times":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":7}]]},"RSS CBIC (Câmara Brasileira da Indústria da Construção)":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":8}]]},"RSS Startupi":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":9}]]},"Notícias Consolidadas1":{"main":[[{"node":"Notícias Consolidadas3","type":"main","index":1}]]},"Notícias Consolidadas2":{"main":[[{"node":"Notícias Consolidadas3","type":"main","index":2}]]},"RSS Globo G1":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":0}]]},"RSS Al Jazeera":{"main":[[{"node":"Notícias Consolidadas2","type":"main","index":6}]]},"RSS Deutsche Welle":{"main":[[{"node":"Notícias Consolidadas2","type":"main","index":5}]]},"RSS nytimes":{"main":[[{"node":"Notícias Consolidadas2","type":"main","index":4}]]},"RSS The Guardian":{"main":[[{"node":"Notícias Consolidadas2","type":"main","index":3}]]},"RSS Agencia Brasil":{"main":[[{"node":"Notícias Consolidadas2","type":"main","index":2}]]},"RSS Camara Cidades":{"main":[[{"node":"Notícias Consolidadas2","type":"main","index":1}]]},"RSS Camara Economia":{"main":[[{"node":"Notícias Consolidadas2","type":"main","index":0}]]},"RSS Camara Politica":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":9}]]},"RSS Camara Adm Publica":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":8}]]},"RSS Camara Eleicoes":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":7}]]},"RSS Camara Agro":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":6}]]},"RSS Camara":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":5}]]},"RSS Senado":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":4}]]},"RSS Jornal do Oeste":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":3}]]},"RSS CNN":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":2}]]},"RSS BBC":{"main":[[{"node":"Notícias Consolidadas1","type":"main","index":1}]]},"Notícias Consolidadas3":{"main":[[{"node":"Filtro de data da notícia","type":"main","index":0}]]},"Create base64.txt":{"main":[[]]},"Criação do HTML da Imagem1":{"main":[[{"node":"HTML > Imagem1","type":"main","index":0}]]},"HTML > Imagem1":{"main":[[{"node":"Baixar imagem1","type":"main","index":0}]]},"Baixar imagem1":{"main":[[{"node":"Cortar imagem 1080x1351","type":"main","index":0}]]},"Cortar imagem 1080x1351":{"main":[[{"node":"Salvar imagem no GitHub1","type":"main","index":0}]]},"Salvar imagem no GitHub1":{"main":[[{"node":"Create download_url2","type":"main","index":0}]]},"Create download_url2":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":3}]]},"Create download_url":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":0}]]},"Filtro de data da notícia":{"main":[[{"node":"Code","type":"main","index":0}]]},"RSS Conjur":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":0}]]},"RSS Jota Info":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":1}]]},"RSS Agencia Brasil1":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":2}]]},"RSS STJ Noticias":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":3}]]},"RSS STJ Pesquisa Pronta":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":4}]]},"RSS STJ Jurisprudencia em Teses":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":5}]]},"RSS STJ Informativo de Jurisprudencia":{"main":[[{"node":"Notícias Consolidadas","type":"main","index":6}]]},"Code":{"main":[[{"node":"Padronização do campo imagem","type":"main","index":0}]]},"Padronização do campo imagem":{"main":[[{"node":"Validação do campo imagem","type":"main","index":0}]]},"Validação do campo imagem":{"main":[[{"node":"Backup dados da notícia","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Backup dados da notícia":{"main":[[{"node":"Buscar HTML da notícia","type":"main","index":0}]]},"Buscar HTML da notícia":{"main":[[{"node":"Extrair imagem do HTML","type":"main","index":0}]]},"Extrair imagem do HTML":{"main":[[{"node":"Imagem encontrada?","type":"main","index":0}]]},"Imagem encontrada?":{"main":[[{"node":"Analyze image1","type":"main","index":0}],[{"node":"Merge3","type":"main","index":1}]]},"Gerar imagem com IA":{"main":[[{"node":"Salvar imagem gerada2","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Salvar imagem gerada5","type":"main","index":0}],[{"node":"Gerar imagem com IA1","type":"main","index":0}]]},"Gerar imagem com IA1":{"main":[[{"node":"Salvar imagem gerada4","type":"main","index":0}]]},"Analyze image1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Salvar imagem gerada1","type":"main","index":0}],[{"node":"Padronizar Campos","type":"main","index":0}]]},"Padronizar Campos":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Gerar imagem com IA","type":"main","index":0}]]},"Salvar imagem gerada1":{"main":[[{"node":"Unificar imagem final","type":"main","index":0}]]},"Salvar imagem gerada2":{"main":[[{"node":"Unificar imagem final","type":"main","index":1}]]},"Salvar imagem gerada5":{"main":[[{"node":"Unificar imagem final","type":"main","index":2}]]},"Salvar imagem gerada4":{"main":[[{"node":"Unificar imagem final","type":"main","index":3}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1,"errorWorkflow":"GbORhS24Rzw7hHlt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0","sheetId":0,"lastRevision":271,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0&revision=271&exportFormat=xlsx"},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Trigger nova noticia no sheets":{"documentId":"1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0","sheetId":0,"lastRevision":271,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0&revision=271&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43f663c9-7ff8-49da-a7f5-fe41f02320d9","triggerCount":1,"tags":[]}