1.2---zp---journal---aprovador-wsbP136tVU0Dfxti.json
{"createdAt":"2025-08-04T21:20:08.458Z","updatedAt":"2025-09-25T16:51:25.050Z","id":"wsbP136tVU0Dfxti","name":"1.2 - ZP - Journal - Aprovador","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const items = $input.all();\nif (!items.length) return [];\n\nconst histItem = items[items.length - 1];\nconst historico = (histItem?.json?.historico ?? '');\n\n// opcional: corta pra evitar prompt gigante\nconst hist = historico.length > 15000 ? historico.slice(0,15000) : historico;\n\n// tudo menos o último (que é o histórico)\nconst noticias = items.slice(0, -1);\n\nreturn noticias.map(i => ({\n  json: { ...i.json, historico: hist }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,288],"id":"92efdb3d-bfe9-4aa2-bc00-fe15f9c2361c","name":"Code1"},{"parameters":{"documentId":{"__rl":true,"value":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","mode":"list","cachedResultName":"Controle Radar do Corretor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"postado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[432,464],"id":"26b72416-0d9f-4260-a12b-bdb97d0d8b17","name":"Noticias Postadas","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const DIAS = 3;\nconst corte = new Date(); corte.setDate(corte.getDate() - DIAS);\n\nfunction parseBR(v){\n  if (!v) return NaN;\n  if (v instanceof Date) return v;\n  const m = String(v).trim().match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) return NaN;\n  const [_, dd, mm, yyyy] = m.map(Number);\n  return new Date(yyyy, mm-1, dd);\n}\n\n// filtra últimos DIAS\nconst recentes = $input.all().filter(i=>{\n  const j = i.json||{};\n  const raw = j.data_processamento || j.data_proce || j.data_proces || j.data;\n  const d = parseBR(raw);\n  return d instanceof Date && !isNaN(d) && d >= corte && (j.status||'').toLowerCase()==='postado';\n});\n\n// monta string\nlet historico = recentes.map(i=>{\n  const j=i.json||{};\n  return `ID:${j.noticia_id} | ${j.titulo||''} | ${j.legenda||''}`;\n}).join('\\n');\n\n// limita tamanho (evita prompt gigante)\nif (historico.length > 15000) historico = historico.slice(0,15000);\n\n// retorna **um único item**\nreturn [{ json: { historico } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,464],"id":"6cf6369c-5f04-4155-975c-ba55f2517d42","name":"Code2","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,288],"id":"a9e9ede7-02ec-4c81-9087-34ef48a06375","name":"Merge"},{"parameters":{"content":"# Fluxo de Aprovação dos Posts\n\n### Esse fluxo roda sempre que existe uma alteracao no sheets de controle do journal\n### O AI Agent define se aprova ou rejeita um post baseado em sua imagem e se ja foi postado alguma vez um tema similar","height":608,"width":3136,"color":3},"type":"n8n-nodes-base.stickyNote","position":[144,32],"typeVersion":1,"id":"73f53392-c0a1-4692-b056-c1a8dea13e56","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=Você é responsável por analisar uma notícia com status \"aguardando\" e decidir se ela deve ser \"aprovada nivel 1\" ou \"reprovada\".\n\n📜 Histórico de notícias já postadas (use para evitar duplicidade; compare por título/legenda/evento):\n{{ $json.historico }}\n\n📰 Notícia para análise:\nID: {{ $json.noticia_id }}\nTítulo: {{ $json.titulo }}\nLegenda: {{ $json.legenda }}\nImagem: {{ $json.imagem_url }}\n\nGATES (regras eliminatórias — se falhar, REPROVE)\nFoco no corretor/imobiliário (obrigatório): aprove apenas se houver relação direta e explícita com o trabalho do corretor. Abrange:\n\n- Crédito/financiamento (Caixa, SBPE, FGTS, taxas, MCMV, subsídios);\n- Mercado imobiliário (preços, aluguel, lançamentos, vendas, estoque, distratos, dados CBIC/Secovi/Abrainc/FipeZap/IBGE ligados a habitação);\n- Construtoras/incorporadoras/imobiliárias (resultados, estratégias, comissionamento, produtos, lançamentos);\n- Políticas públicas/leis (habitação, uso do solo, IPTU/ITBI, registro, regularização, urbanismo/mobilidade com impacto de valorização);\n- Design de interiores & arquitetura aplicados à venda (tendências que ajudem a argumentação/valorização do imóvel: iluminação, planta, acabamentos, home staging etc. — sem tecnicismo);\n- Técnicas de vendas/atendimento/captação (scripts, objeções, funil, pós-venda);\n- Branding pessoal & marketing do corretor (posicionamento, conteúdo, stories/reels, prova social, networking).\n\n→ Reprove macrotemas economicos (ex.: “juros do FED”, “bolsa”, “câmbio”).\n\nDuplicidade/Novidade (decisor):\n\nReprove se tratar do mesmo evento já postado nos últimos 7 dias ou se a similaridade semântica entre título/legenda e o histórico for > 50% (normalize maiúsculas/minúsculas, acentos, datas, números e entidades).\n\nConsidere duplicado também “desdobramentos” sem novo impacto material (apenas reedição de números/declarações).\n\nAo reprovar por duplicidade, cite o ID do histórico correspondente.\n\nRegra decisora: se for duplicado, reprove mesmo que a pontuação da rubrica seja alta.\n\nNível técnico/acessibilidade:\n\nReprove conteúdos muito técnicos/academicistas (jargões, fórmulas/engenharia/arquitetura complexa, finanças corporativas avançadas) sem aplicação prática clara para o corretor no dia a dia.\n\nImagem:\n\nReprove se a imagem for toda preta/branca, muito escura, cortada, com logo/marca d’água, baixa resolução ou sem relação clara com o conteúdo.\n\nRUBRIC DE APROVAÇÃO (aplique somente se passou nos GATES)\nAtribua pontos e aprove apenas se pontuação ≥ 7 e nenhum gate falhou:\n\nAlinhamento com o corretor (0–3): 0=indireto; 1=menção tangencial; 2=relacionado; 3=impacto direto (crédito, dados setoriais, técnica de vendas, branding, design aplicável).\n\nAplicabilidade prática (0–3): 0=nenhuma; 1=fraca; 2=implicações de atendimento/captação/precificação; 3=orientação clara e acionável.\n\nOriginalidade (0–2): 0=repetição/desdobramento sem novo impacto; 1=algum dado novo; 2=conteúdo realmente novo.\n\nLocalidade/Contexto Brasil (0–2): 0=externo/indireto; 1=externo com ponte explícita ao BR; 2=Brasil/setor diretamente.\n\nPolítica de conservadorismo: em caso de dúvida, REPROVE.\n\nExemplos rápidos\n✅ Aprovar: “Caixa reduz taxa do crédito imobiliário em X p.p.”; “Abrainc: vendas sobem Y%”; “MCMV amplia faixa de renda”; “Biofilia e nova tendencia na arquitetura de novos empreendimentos”; “Script de abordagem no WhatsApp com prova social”; “Estratégias de marca pessoal para captação orgânica”.\n\n❌ Reprovar: “FED mantém juros” (sem ponte concreta ao crédito BR); “Artigo técnico de arquitetura paramétrica”; “Opinião genérica sem dado”; “Repost do mesmo balanço/índice (ID X)”.\n\nSAÍDA (JSON PURO, sem texto extra):\n[\n  {\n    \"noticia_id\": \"{{ $json.noticia_id }}\",\n    \"status\": \"aprovado nivel 1\" | \"reprovado\",\n    \"justificativa\": \"motivo curto e objetivo; se duplicado, cite o ID original\"\n  }\n]\n\nRegras finais:\n- Não altere noticia_id.\n- Não inclua explicações fora do JSON.\n- Use PT-BR.\n- Se reprovar, seja específico: “sem impacto direto p/ crédito/imóveis”, “duplicado do ID X”, “imagem inadequada”, etc.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1216,288],"id":"07ed1c87-9e7d-415b-81e4-24447446f75a","name":"AI Agent1","executeOnce":false},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","mode":"list","cachedResultName":"Controle Radar do Corretor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[208,272],"id":"fbe7e07b-3cbb-4694-9554-d3dcf1c3e766","name":"Trigger nova noticia no sheets1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"PvlXorOaq6vxhcle","name":"Google Sheets Trigger account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","mode":"list","cachedResultName":"Controle Radar do Corretor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"aguardando"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[432,272],"id":"0dd65be4-f487-47f2-ac60-c6758c55cbb8","name":"Noticias aguardando aprovação1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1216,464],"id":"1ef206bb-2c5b-49fa-930e-8300a520e856","name":"gpt-4.1-mini1","credentials":{"openRouterApi":{"id":"o1ywdYlH64cgqSMT","name":"OpenRouter account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","mode":"list","cachedResultName":"Controle Radar do Corretor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["noticia_id"],"schema":[{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data_processamento","displayName":"data_processamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"justificativa","displayName":"justificativa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1744,288],"id":"2571948a-bef1-4086-a12f-cd8e9f1b3ce5","name":"Atualizar status da noticia1","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const raw = $json.output;\nconst parsed = JSON.parse(raw); // Isso vira um array com 1 objeto\n\n// Retorna o primeiro e único objeto do array\nreturn {\n  json: parsed[0]\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,288],"id":"200e4b90-7c33-4ec0-be5b-01a29c1b7824","name":"Code3"},{"parameters":{"documentId":{"__rl":true,"value":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","mode":"list","cachedResultName":"Controle Radar do Corretor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"noticia_id","lookupValue":"={{ $json.noticia_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1920,288],"id":"272cf85e-9aaf-427f-9ee5-ec2955d56331","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name = '{{ $json.arquivo_base64 }}' and trashed = false\n","limit":1,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2128,288],"id":"b477a7ff-adbc-495a-81ec-2774d53aa379","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"ZkmaJh5Y8Zdz8ju7","name":"Google Drive - lucas@getmia.com.br"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2336,288],"id":"761b469e-4ec3-4aa3-8224-a9593c5cad1d","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"ZkmaJh5Y8Zdz8ju7","name":"Google Drive - lucas@getmia.com.br"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Executar: Run Once for Each Item\nconst i = $itemIndex;\n\n// 1) Buscar a legenda do Sheets alinhando pelo índice do item atual\nconst sheetItems = $items('Get row(s) in sheet');   // <- pega TODOS os itens do nó\nconst legenda = sheetItems?.[i]?.json?.legenda || '';  // usa o i como itemIndex\n\n// 2) Pegar o .txt baixado do Drive (base64 do ARQUIVO .txt)\nconst txtB64 = $input.item?.binary?.data?.data;\nif (!txtB64) {\n  throw new Error('Binário do .txt não encontrado no node \"Download file\".');\n}\n\n// 3) .txt (base64) -> texto UTF-8 -> que contém o base64 da IMAGEM\nconst content = Buffer.from(txtB64, 'base64').toString('utf8').trim();\n\n// 4) Se vier em dataURI, remover prefixo e capturar MIME\nconst m = content.match(/^data:([^;]+);base64,(.+)$/i);\nlet mimeType = m ? m[1] : null;\nlet base64 = (m ? m[2] : content).replace(/\\s+/g, ''); // remove quebras/espaços\n\n// 5) Detectar MIME pelos \"magic bytes\" caso não tenha\nconst buf = Buffer.from(base64, 'base64');\nif (!mimeType) {\n  const sig = buf.slice(0, 4).toString('hex');\n  if (sig.startsWith('ffd8ff')) mimeType = 'image/jpeg';\n  else if (sig === '89504e47') mimeType = 'image/png';\n  else if (sig.startsWith('47494638')) mimeType = 'image/gif';\n  else if (sig.startsWith('52494646')) mimeType = 'image/webp';\n  else mimeType = 'application/octet-stream';\n}\n\n// 6) Retornar o que outros nós vão usar\nreturn {\n  json: {\n    index: i,\n    legenda,\n    mimeType,\n    base64\n    // Se o seu node de envio exigir com prefixo:\n    // base64WithPrefix: `data:${mimeType};base64,${base64}`\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,288],"id":"ad8253a4-11cb-46ee-81c5-6cbe1b724c0a","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2816,288],"id":"3963d817-2f2e-44f1-b71a-9892f0f892de","name":"Loop Over Items"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"social-media-radarcorretor","remoteJid":"553497781602","media":"={{ $json.base64 }}","caption":"=[NOTÍCIA {{ $('Get row(s) in sheet').item.json.row_number }}]\n\n{{ $('Get row(s) in sheet').item.json.legenda }}\n\nResponda com:\naprovar {{ $('Get row(s) in sheet').item.json.row_number }} ou rejeitar {{ $('Get row(s) in sheet').item.json.row_number }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3040,304],"id":"83d4fab3-67a1-415a-96ff-46be301e6b13","name":"Envio do post - Whatsapp","credentials":{"evolutionApi":{"id":"vDN1jxL85cL5Mz2G","name":"Evolution - Radar Corretor"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"radarcorretor","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2640,896],"id":"a307f083-7138-4aff-83be-0ed42f1d51d5","name":"Webhook - Esperar resposta WhatsApp","webhookId":"89de6970-1e50-427d-898c-244a3a8ed96a"},{"parameters":{"jsCode":"const texto = ($json.body?.data?.message?.conversation || '').toLowerCase();\n\nlet status = '';\nif (texto.includes('aprovar')) status = 'aprovado';\nelse if (texto.includes('rejeitar')) status = 'rejeitado';\n\n// 1) Tenta captar \"aprovar 700\" / \"rejeitar 700\"\nlet row_number = null;\nconst mRow = texto.match(/(?:aprovar|rejeitar)\\s+(\\d{1,7})/);\nif (mRow) row_number = Number(mRow[1]);\n\n// 2) (Opcional) fallback: se vier no formato antigo \"noticia_20250805_...\"\nlet noticia_id = '';\nconst mId = texto.match(/noticia_\\d{8}(?:_\\d+)+/i);\nif (mId) noticia_id = mId[0];\n\nreturn [{\n  json: { status, row_number, noticia_id }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,896],"id":"d28f90f2-26cc-429c-a897-8b05dbfb7c4b","name":"Extrair status e ID"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","mode":"list","cachedResultName":"Controle Radar do Corretor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"status":"={{ $json.status }}","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3056,896],"id":"ca56753b-0fce-4a6d-b690-464176bc6a5a","name":"Atualizar status no Sheets Controle","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"content":"# Webhook Aprovação do Post\n\n### Esse weebhook fica aguardando um retorno do aprovador sobre os posts enviados\n### O post pode ser aprovado ou rejeitado e os status são salvos no sheets","height":496,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2544,656],"typeVersion":1,"id":"cda35c6d-d3fd-45cf-bdd9-1a3b33ada1aa","name":"Sticky Note13"}],"connections":{"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Noticias Postadas":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Trigger nova noticia no sheets1":{"main":[[{"node":"Noticias aguardando aprovação1","type":"main","index":0},{"node":"Noticias Postadas","type":"main","index":0}]]},"Noticias aguardando aprovação1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"gpt-4.1-mini1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"Atualizar status da noticia1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Envio do post - Whatsapp","type":"main","index":0}]]},"Envio do post - Whatsapp":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Atualizar status da noticia1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Webhook - Esperar resposta WhatsApp":{"main":[[{"node":"Extrair status e ID","type":"main","index":0}]]},"Extrair status e ID":{"main":[[{"node":"Atualizar status no Sheets Controle","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1,"errorWorkflow":"UldWpZHcKTrRMFpI"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0","sheetId":0,"lastRevision":271,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0&revision=271&exportFormat=xlsx"},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Trigger nova noticia no sheets":{"documentId":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","sheetId":0,"lastRevision":57,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek&revision=57&exportFormat=xlsx"},"node:Trigger nova noticia no sheets1":{"documentId":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","sheetId":0,"lastRevision":2978,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek&revision=2978&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f299a1e-e644-4ca1-b890-5ce4f2cca7e8","triggerCount":2,"tags":[]}