1.3---mia---journal---post-instagram-VSkLBmqDBUQjuOPv.json
{"createdAt":"2025-08-26T20:55:49.660Z","updatedAt":"2025-09-05T19:40:30.544Z","id":"VSkLBmqDBUQjuOPv","name":"1.3 - Mia - Journal - Post Instagram","active":true,"isArchived":false,"nodes":[{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url }}"},{"name":"caption","value":"={{ $json.instagram_post_caption }}"}]}}},"id":"7789f4c3-1c4f-4b1e-8ede-299d43ff097b","name":"Instagram prepare media","type":"n8n-nodes-base.facebookGraphApi","position":[1216,1856],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"d1f8a65e-a2ac-43a1-966b-10241567de0c","name":"Instagram publish media","type":"n8n-nodes-base.facebookGraphApi","position":[1744,1776],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"content":"Add your credential","height":430,"width":1794},"id":"8281b34d-db4e-4117-828d-1f99370773aa","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1168,1712],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"68b89233-2740-4afd-a95c-72ed537d12e5","name":"noticia_id","value":"={{ $json.noticia_id }}","type":"string"},{"id":"225df266-bf29-4415-b04c-2750cef4506a","name":"image_url","type":"string","value":"={{ $json.imagem_url }}"},{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841475443525557"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"={{ $json.legenda }}"}]},"options":{}},"id":"053fcee4-8dc3-4fd1-a6fb-8c8d7ffbacd5","name":"Instagram params","type":"n8n-nodes-base.set","position":[1008,1856],"typeVersion":3.4},{"parameters":{"graphApiVersion":"v20.0","node":"=me","options":{"fields":{"field":[{"name":"name"},{"name":"connected_instagram_account"}]}}},"id":"22842bc7-541c-47ec-b56d-1e8e3289e802","name":"Node just for retrive id of instagram page","type":"n8n-nodes-base.facebookGraphApi","position":[976,1504],"typeVersion":1,"disabled":true},{"parameters":{"content":"You can use this node if you want to retrieve the instagram id. \n\nAdd it to the workflow ore use manually","height":289,"width":318},"id":"8d8d1064-d3c2-45e7-b2ae-2560ec95f563","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[864,1392],"typeVersion":1},{"parameters":{"content":"Here we have all parameters for posting in instagram image url, caption and instagram business profile id","height":310,"width":188,"color":3},"id":"167153ed-4aa1-4099-bff3-a2d782d51a29","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[960,1712],"typeVersion":1},{"parameters":{"content":"## Permissions\nPublishing relies on a combination of the following permissions. The exact combination depends on which endpoints your app uses. Refer to our endpoint references to determine which permissions each endpoint requires.\n\nads_management\nbusiness_management\ninstagram_basic\ninstagram_content_publish\npages_read_engagement\nIf your app will be used by app users who do not have a role on your app or a role in a Business that has claimed your app, you must request approval for each permission via App Review before non-role app users can grant them to your app.\n\n## Limitations\nJPEG is the only image format supported. Extended JPEG formats such as MPO and JPS are not supported.\nShopping tags are not supported.\nBranded content tags are not supported.\nFilters are not supported.\nPublishing to Instagram TV is not supported.\nFor additional limitations, refer to each endpoint's reference.\n\n## Rate Limit\nInstagram accounts are limited to 50 API-published posts within a rolling 24-hour period. Carousels count as a single post. This limit is enforced on the POST /{ig-user-id}/media_publish endpoint when attempting to publish a media container. We recommend that your app also enforce the publishing rate limit, especially if your app allows app users to schedule posts to be published in the future.\n\nTo check an Instagram Professional account's current rate limit usage, query the GET /{ig-user-id}/content_publishing_limit endpoint.","height":792,"width":439.10253951549294,"color":7},"id":"5a1d47f6-3cef-4e29-95de-3cece5bb724a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[704,2032],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"49b90af3-b1d0-4017-b9ea-dfbbfa3621bc","name":"Instagram check status of media uploaded before","type":"n8n-nodes-base.facebookGraphApi","position":[1392,1856],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"e9367257-898f-4fd3-817f-7acccf97ffc9","name":"If media status is finished","type":"n8n-nodes-base.if","position":[1552,1856],"typeVersion":2.2},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"a481dc3e-bd06-4f52-8d8c-48aa8731244b","name":"Instagram check status of media published before","type":"n8n-nodes-base.facebookGraphApi","position":[1952,1776],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"2e3cc0f6-4944-415f-b1e7-bbe7b53ca509","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[2144,1776],"typeVersion":2.2},{"parameters":{"content":"You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node","height":102.11100456713636,"color":3},"id":"383b4002-53e3-4184-bbf5-1e0c0259d63d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1696,2160],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","mode":"list","cachedResultName":"Controle Radar do Corretor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek/edit#gid=0"},"event":"rowUpdate","options":{"columnsToWatch":["status"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[432,1664],"id":"a288fee4-6f38-43e5-bdb8-d0866790d6df","name":"Google Sheets Trigger","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54fa4546-8262-4651-9b0e-ce3a2f66416f","leftValue":"={{ $json.status }}","rightValue":"aprovado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,1872],"id":"8e1d75e3-64ad-485e-ad63-dc314be54a73","name":"If8"},{"parameters":{"sendTo":"lucas@getmia.com.br","subject":"Post Mia falhou!","message":"Post Mia falhou!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1744,1984],"id":"b8071e83-6020-442b-bd2d-50067f7b7922","name":"Send a message","webhookId":"84c73c94-6c97-4d64-982c-792523d6b6e4","credentials":{"gmailOAuth2":{"id":"nSkQlWbOu4FNRL2N","name":"Gmail - lucas@getmia.com.br"}}},{"parameters":{"sendTo":"lucas@getmia.com.br","subject":"Post Mia deu certo!","message":"Post Mia deu certo!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2368,1744],"id":"a333b2d9-e02e-4553-b725-029cec5f39b8","name":"Send a message1","webhookId":"7056e031-879b-472a-9e41-fb9af1d3522c","credentials":{"gmailOAuth2":{"id":"nSkQlWbOu4FNRL2N","name":"Gmail - lucas@getmia.com.br"}}},{"parameters":{"sendTo":"lucas@getmia.com.br","subject":"Post Mia falhou 2!","message":"Post Mia falhou 2!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2368,1920],"id":"a7caf108-84f3-404b-b2cc-ef88206e158f","name":"Send a message2","webhookId":"4845887f-1b09-47e7-b695-9410a8570ec9","credentials":{"gmailOAuth2":{"id":"nSkQlWbOu4FNRL2N","name":"Gmail - lucas@getmia.com.br"}}},{"parameters":{"content":"# Ação de postar no Instagram\n\n### Aqui cadastramos os tokens necessários para a API do Meta\n### O post é realizado no mesmo momento em que a aprovação acontece","height":1696,"width":2816,"color":5},"type":"n8n-nodes-base.stickyNote","position":[208,1200],"typeVersion":1,"id":"c873aaf4-265d-4741-9cc3-2514a070e83b","name":"Sticky Note14"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"instagram_journal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["noticia_id"],"schema":[{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2784,1744],"id":"4a975e55-a1b1-4156-b62f-3e90964ab3cc","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"assignments":{"assignments":[{"id":"f2c98e3a-ba6b-4df7-a0c9-96994c91a690","name":"noticia_id","value":"={{ $('Instagram params').item.json.noticia_id }}","type":"string"},{"id":"a95682ad-ea9c-4d88-a370-0ffad2b3eea5","name":"status","value":"postado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2592,1744],"id":"3ee93ab0-c913-4c7d-ba7c-0827dbedf07e","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[256,1872],"id":"1309f2d7-51e4-457b-a9fb-09e79c8fd0fa","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"instagram_journal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"aprovado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[432,1872],"id":"17a4085a-f41f-4c21-b966-d41dd98e243e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"jsCode":"// Garante 1 por execução (pega a primeira \"aprovado\")\nconst rows = items.map(i => i.json);\n\nconst isApproved = (v) =>\n  String(v || '').trim().toLowerCase() === 'aprovado';\n\nconst first = rows.find(r =>\n  isApproved(r.status) &&\n  r.noticia_id &&\n  (r.imagem_url || r.imagem) &&\n  r.legenda\n);\n\nif (!first) return []; // nada a postar neste horário\n\nconst out = { ...first };\nout.imagem_url = first.imagem_url || first.imagem;\nreturn [{ json: out }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,1872],"id":"8c6c1e19-2b56-4615-b93b-6a7a7444a69e","name":"Code"}],"connections":{"Instagram params":{"main":[[{"node":"Instagram prepare media","type":"main","index":0}]]},"Instagram prepare media":{"main":[[{"node":"Instagram check status of media uploaded before","type":"main","index":0}]]},"Instagram publish media":{"main":[[{"node":"Instagram check status of media published before","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Instagram publish media","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message2","type":"main","index":0}]]},"Instagram check status of media uploaded before":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"Instagram check status of media published before":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[]]},"If8":{"main":[[{"node":"Instagram params","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If8","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1,"errorWorkflow":"QdC9qh9DPcT2xcoq"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","sheetId":0,"lastRevision":764,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek&revision=764&exportFormat=xlsx"},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Trigger nova noticia no sheets":{"documentId":"1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0","sheetId":0,"lastRevision":271,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0&revision=271&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0a461fb2-2a10-4106-acfd-52f75bf263b9","triggerCount":1,"tags":[]}