my-workflow-3-3VJDjmAIKlX2mBbF.json
{"createdAt":"2025-09-22T13:14:36.826Z","updatedAt":"2025-09-22T13:26:58.439Z","id":"3VJDjmAIKlX2mBbF","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b2f2969e-fa71-465e-9ef2-73ecef7a6291","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM RhTech_fake"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[208,0],"id":"f033995f-b56e-4c7d-86a3-a9b4b4cf3b85","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"WFNrTNj4QqdUC7Gb","name":"Microsoft SQL account"}}},{"parameters":{"promptType":"define","text":"=Qual e o salario da {{ $json.Nome }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[416,0],"id":"120d2f36-1a40-43f6-9470-a44af8dd8040","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,208],"id":"8c98656b-879c-40c9-8a6c-1e9a08f6d712","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1d451bb2-cbbd-4a07-9695-7850772751b3","triggerCount":0,"tags":[]}